/*** 

====================================================================
banner-section-h1
====================================================================

***/
.banner-section-h1 {
  position: relative;
  z-index: 0;
  overflow: hidden;
  .anim-icon {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 1;
  }
  .outer-box {
    position: relative;
    padding: 160px 0 0;
    overflow: hidden;
    &:before {
      position: absolute;
      content: "";
      background-image: url(../images/banner/banner-h1-6.png);
      background-repeat: no-repeat;
      background-size: cover;
      background-position: bottom left;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 1;
      opacity: 0.1;
    }
    .shape-1 {
      position: absolute;
      left: 54%;
      top: calc(25% + 5px);
      z-index: 2;
      @include media-breakpoint-down(xl){
        display: none;
      }
      img {
        animation: tm-animation-flicker 3s ease-in-out infinite;
      }
    }
    .shape-2 {
      position: absolute;
      left: calc(45% + 5px);
      top: 44%;
      z-index: 2;
      @include media-breakpoint-down(xxl){
        display: none;
      }
    }
    .shape-3 {
      position: absolute;
      left: 67%;
      top: 59%;
      z-index: 2;
      @include media-breakpoint-down(xxl){
        display: none;
      }
      img {
        animation: tm-animation-slide-horizontal 4s linear infinite alternate-reverse both;
      }
    }
  }
  .bg-image {
    position: absolute;
    top: 0;
    left: 0;
    @include media-breakpoint-down(xl){
      width: 100%;
      height: 100%;
    }
    img {
      @include media-breakpoint-down(xl){
        height: 100%;
        object-fit: cover;
        width: 100%;
      }
    }
    &:before {
      position: absolute;
      content: "";
      background-image: linear-gradient(90deg, #13132E 63%, #FF3838B5 83%);
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      opacity: 0.9;
    }
  }
  .tm-text-editor {
    position: absolute;
    right: -25%;
    bottom: 45%;
    z-index: 1;
    transform: rotate(-90deg);
    font-size: 220px;
    font-weight: 800;
    letter-spacing: 10px;
    color: rgba(185, 185, 185, 0.23);
    display: flex;
    flex-direction: column-reverse;
    line-height: 190px;
    text-transform: uppercase;
    @include media-breakpoint-down(xxl){
      display: none;
    } 
  }
  .inner-box {
    max-width: 1630px;
    padding: 0 15px;
    margin: 0 auto;
    display: flex;
    gap: 20px;
    align-items: center;
    .banner-content {
      @include media-breakpoint-down(xl){
        margin: 0 auto;
      }
      .inner-content {
        padding: 10px;
        max-width: 928px;
        margin: 0 0 88px;
        @include media-breakpoint-down(xl){
          text-align: center;
        }
        .banner-title {
          font-weight: 300;
          line-height: 120px;
          color: var(--theme-color-white);
          margin-bottom: 42px;
          @include media-breakpoint-down(xxl){
            font-size: 80px;
            font-weight: 300;
            line-height: 100px;
          }
          @include media-breakpoint-down(md){
            font-size: 60px;
            line-height: 80px;
          }
          span {
            font-weight: 600;
          }
        }
        .text {
          position: relative;
          z-index: 1;
          color: var(--text-color2);
          max-width: 635px;
          @include media-breakpoint-down(xl){
            margin: 0 auto;
          }
        }
        .banner-info {
          display: flex;
          gap: 20px;
          align-items: center;
          margin-top: 45px;
          position: relative;
          z-index: 2;
          @include media-breakpoint-down(xl){
            justify-content: center;
          }
          @include media-breakpoint-down(md){
            flex-direction: column;
            gap: 30px;
          }
          .theme-btn {
            margin-right: 30px;
            @include media-breakpoint-down(md){
              margin-right: 0;
            }
          }
          .author-img {
            position: relative;
          }
          .text {
            font-size: 18px;
            line-height: 34px;
            color: var(--theme-color-white);
            @include media-breakpoint-down(xxl){
              font-size: 17px;
            }
            @include media-breakpoint-down(xl){
              margin: 0;
            }
          }
        }
      }
    }
    .hero-image {
      position: relative;
      z-index: 1;
      @include media-breakpoint-down(xl){
        display: none;
      }
    }
  }
}


/*** 

====================================================================
banner-section-h2
====================================================================

***/

.banner-section-h2 {
  background-color: var(--theme-color3);
  padding: 207px 0 112px;
  position: relative;
  z-index: 9;
  @media (max-width: 1499.98px){
    padding: 120px 0;
  }
  @include media-breakpoint-down(xl){
    // padding: 70px 0 60px;
  }
  &:before{
    position: absolute;
    content: "";
    background-image: url(../images/icons/home2-banner-1.png);
    width: 830px;
    height: 1223px;
    left: -75px;
    bottom: -425px;
    pointer-events: none;
  }
  .outer-container {
    max-width: 1610px;
    padding: 0 15px;
    margin: 0 auto;
  }
  .shape-1 {
    position: absolute;
    left: calc(50% - 37.5px);
    top: 150px;
    pointer-events: none;
    @include media-breakpoint-down(xl) {
      display: none;
    }
    img {
      animation: spin 7s linear infinite;
    }
  }
  .shape-2 {
    position: absolute;
    top: 75px;
    left: 0;
    pointer-events: none;
    max-width: 1307px;
    max-height: 880px;
  }
  .hero-content {
    @include media-breakpoint-down(xxl){
      margin-bottom: 40px;
    }
    .sub-title {
      font-family: var(--body-font-family);
      text-transform: uppercase;
      border-radius: 30px;
      background-color: var(--theme-color1);
      display: inline-block;
      padding: 8px 33px;
      color: var(--theme-color1-text-color);
      margin-bottom: 20px;
    }
    .title {
      color: var(--theme-color-white);
      font-family: var(--heading-font-family);
      font-size: 90px;
      font-weight: 300;
      margin-bottom: 25px;
      max-width: 765px;
      line-height: 1.11;
      text-transform: capitalize !important;
      @media (max-width: 1399.98px){
        font-size: 80px;
      }
      span {
        font-weight: 700;
      }
      @include media-breakpoint-down(sm) {
        font-size: 60px;
      }
    }
    .text {
      color: var(--theme-color-white);
      font-family: var(--body-font-family);
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 30px;
      margin-bottom: 36px;
      margin-top: 28px;
      max-width: 482px;
      position: relative;
      z-index: 2;
    }
    .hero-button {
      @include media-breakpoint-down(sm) {}
      .video-btn{
        color: var(--theme-color-white);
        position: relative;
        z-index: 2;
        [data-tm-layout="dark"] & {
          color: var(--theme-color-dark);
        }
        font-family: var(--body-font-family);
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 38px;
        margin-left: 40px;
        text-transform: capitalize;
        @include media-breakpoint-down(sm) {
          margin-left: 0;
          margin-top: 20px;
        }
      }
      .icon{
        background-color: var(--theme-color1);
        color: var(--theme-color1-text-color);
        border-radius: 50%;
        display: inline-block;
        height: 57px;
        line-height: 57px;
        margin-right: 20px;
        text-align: center;
        width: 57px;
        @include transition(all 300ms ease);
        &:hover {
          background-color: var(--theme-color2);
          color: var(--theme-color1-text-color2);
        }
      }
    }
  }
  .hero-img-box{
    position: relative;
    padding-left: 20px;
    .img-1{
      position: relative;
      max-width: 411.6px;
      max-height: 686px;
      margin-right: 10px;
      @media (max-width: 1499.98px){
        // max-height: none;
        // max-width: none;
      }
      img{
        border-radius: 200px 200px 0px 0;
        height: 100%;
        object-fit: cover;
      }
      &:before{
        background-color: transparent;
        border-radius: 200px 200px 0px 0;
        border: 6px solid var(--theme-color1);
        bottom: -20px;
        content: "";
        left: 20px;
        position: absolute;
        right: -20px;
        top: 20px;
        z-index: -1;
      }
    }
    .img-2{
      position: relative;
      max-width: 298px;
      max-height: 335px;
      @include media-breakpoint-down(sm) {
        display: none;
      }
      &:before{
        background-color: transparent;
        border-radius: 0px 200px 200px 200px;
        border: 2px solid var(--theme-color1);
        bottom: -10px;
        content: "";
        left: -10px;
        position: absolute;
        right: 10px;
        top: 10px;
        z-index: -1;
      }
      img{
        border-radius: 0px 200px 200px 200px;
        max-width: 298px;
        max-height: 335px;
        object-fit: cover;
      }
      position: relative;
    }
    .img-3{
      position: relative;
      max-width: 298px;
      max-height: 335px;
      @include media-breakpoint-down(sm) {
        display: none;
      }
      img{
        border-radius: 200px 200px 200px 0px;
        max-width: 298px;
        max-height: 335px;
        object-fit: cover;
      }
      &:before{
        background-color: transparent;
        border-radius: 200px 200px 200px 0px;
        border: 2px solid var(--theme-color1);
        bottom: -10px;
        content: "";
        left: -10px;
        position: absolute;
        right: 10px;
        top: 10px;
        z-index: -1;
      }
    }
  }
}


/*** 

====================================================================
banner-section-h3
====================================================================

***/

.banner-section-h3 {
  background-color: var(--theme-color-lighter);
  position: relative;
  z-index: 9;
  padding: 30px 0 0;
  @include media-breakpoint-down(md){
    padding: 0;
  }
  @include media-breakpoint-down(xl){
    // padding: 70px 0 60px;
  }
  .outer-box {
    position: relative;
    max-width: 1870px;
    margin: 0 auto;
    padding: 207px 0 0;
    overflow: hidden;
    @include media-breakpoint-down(sm){
      padding: 100px 0 0;
    }
    &:before {  
      position: absolute;
      content: "";
      background-image: url(../images/banner/banner-h3-1.png);
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center center;
    }
    .anim-icon {
      position: absolute;
      bottom: 200px;
      right: 4px;
      z-index: 2;
      @include media-breakpoint-down(xl){
        display: none;
      }
    }
    .shape-1 {
      position: absolute;
      top: 0;
      right: 10px;
      @include media-breakpoint-down(md){
        right: 0;
      }
      @include media-breakpoint-down(sm){
        display: none;
      }
    }
    .shape-2 {
      position: absolute;
      top: 0;
      right: 10px;
      @include media-breakpoint-down(lg){
        display: none;
      }
    }
    .tm-text-editor-advanced {
      bottom: -20px;
      color: rgba(250, 250, 250, 0.06);
      font-size: 287px;
      font-weight: 600;
      left: 0;
      line-height: 0.73;
      position: absolute;
      z-index: 1;
      pointer-events: none;
      @include media-breakpoint-down(lg){
        font-size: 173px;
        line-height: 1.21;
        display: inline-block;
        margin: 0 auto;
        position: relative;
      }
      @include media-breakpoint-down(md){
        font-size: 79px;
      }
    }
  }
  .outer-container {
    max-width: 1430px;
    padding: 0 15px;
    margin: 0 auto;
    .banner-content {
      margin-right: -40px;
      .inner-content {
        position: relative;
        padding-top: 58px;
        @include media-breakpoint-down(lg){
          padding-bottom: 0;
          text-align: center;
        }
        .sub-title {
          text-transform: uppercase;
          color: var(--theme-color-white);
          padding: 13px 23.5px;
          display: inline-block;
          background-color: rgba(var(--theme-color-white-rgb), .28);
          margin-bottom: 22px;
        }
        .banner-title {
          font-size: 90px;
          font-weight: 700;
          color: var(--theme-color-white);
          margin-bottom: 27px;
          line-height: 1.11;
          @include media-breakpoint-down(xxl){
            font-size: 75px;
          }
          @include media-breakpoint-down(xl){
            font-size: 60px;
          }
          @include media-breakpoint-down(sm){
            font-size: 50px;
          }
        }
        .text {
          font-size: 35px;
          font-weight: 700;
          color: var(--text-color2);
          position: relative;
          z-index: 1;
          margin-bottom: 33px;
          @include media-breakpoint-down(sm){
            line-height: 1.5;
          }
        }
        .video-box {
          bottom: -71px;
          height: 180px;
          position: absolute;
          right: 33px;
          width: 180px;
          z-index: 1;
          @include media-breakpoint-down(xl){
            display: none;
          }
        }
      }
    }
    .image-column {
      .inner-column {
        margin-right: -213px;
        max-height: 734px;
        @include media-breakpoint-down(lg){
          display: none;
        }
        .hero-image {
          position: relative;
          z-index: 1;
        }
      }
    }
  }
}
