/*** 

====================================================================
    News Section
====================================================================

***/

.news-section {
  position: relative;
  padding: 120px 0 120px;
  @include media-breakpoint-down(lg){
    padding: 80px 0;
  }

  .content-column {
    margin-bottom: 0;
    .inner-column {
      position: relative;
      @include media-breakpoint-down(xl){
        margin-bottom: 40px;
      }
      .sec-title-h1 {
        @include media-breakpoint-down(lg) {
          margin-bottom: 30px;
        }
        .sub-title {
          margin-bottom: 10px;
        }
      }
      .text {
        margin-bottom: 40px;
        @include media-breakpoint-down(xl){
          margin-bottom: 30px;
        }
      }
    }
  }

  .blocks-column {
    margin-bottom: 0;
    .inner-column {
      position: relative;
      padding-left: 65px;
      @include media-breakpoint-down(xl) {
        padding-left: 0;
        margin-right: 0;
      }
    }
  }
}

.news-block {
  .inner-box {
    position: relative;
    overflow: hidden;
    margin-bottom: 0;
    &:before {
      content: "";
      @include overlay;
      left: 4px;
      height: 80%;
      transform: scaleY(0.2);
      opacity: 0;
      border-radius: 25px 25px 0 25px;
      /*border: 1px solid #e6e0fa;*/
      transform-origin: bottom;
      /*clip-path: path(
        "M25 0.5H369.5V202.316C369.5 210.334 365.578 217.827 359.031 222.4L358.39 222.834L291.454 266.518C287.472 269.116 282.82 270.5 278.064 270.5H25C11.469 270.5 0.5 259.531 0.5 246V25C0.500003 11.469 11.469 0.5 25 0.5Z"
      );*/
      background-color: var(--theme-color-white);
      @include transition(all 400ms ease);
    }
    &:hover {
      &:before {
        transform: scale(1);
        opacity: 1;
      }
      .image-box {
        .image img {
          transform: scale(1.1);
        }
        .date-box {
          &:before {
            transform: scale(1);
            opacity: 1;
          }
          .date,
          .month {
            color: var(--theme-color-white);
          }
        }
      }
      .content-box {
        border-color: transparent;
        background-color: transparent;
        .btn-box {
          &:before {
            background-color: var(--theme-color1);
          }
          .readmore {
            color: var(--theme-color-white);
            &:before {
              transform: scale(1);
              opacity: 1;
            }
          }
        }
      }
    }
    .image-box {
      position: relative;
      padding-left: 30px;
      @include media-breakpoint-down(md) {
        padding-left: 20px;
      }
      .image {
        position: relative;
        margin-bottom: 0;
        width: 100%;
        border-radius: 20px 20px 0 0;
        overflow: hidden;
        img {
          position: relative;
          width: 100%;
          object-fit: cover;
          @include transition(all 300ms ease);
        }
      }
      .date-box {
        position: absolute;
        bottom: -52px;
        right: 33px;
        width: 83px;
        height: 97px;
        overflow: hidden;
        @include flex-center;
        flex-direction: column;
        border-top-left-radius: 50px;
        background-color: var(--theme-color-white);
        z-index: 3;
        @include media-breakpoint-down(sm) {
          right: 23px;
          bottom: 0;
        }
        &:before {
          content: "";
          @include overlay;
          pointer-events: none;
          transform: scale(0.8);
          opacity: 0;
          border-top-left-radius: 50px;
          background: var(--theme-color1);
          @include transition(all 300ms ease);
          z-index: 3;
        }
        .date {
          position: relative;
          font-size: 26px;
          font-weight: 800;
          color: var(--theme-color3);
          @include transition(all 300ms ease);
          z-index: 3;
        }
        .month {
          position: relative;
          font-size: 18px;
          font-weight: 500;
          color: var(--text-color);
          text-transform: uppercase;
          @include transition(all 300ms ease);
          z-index: 3;
        }
      }
    }
    .content-box {
      position: relative;
      padding-right: 10px;
      padding-left: 39px;
      border-radius: 25px 0 0 25px;
      @include transition(all 300ms ease);
      overflow: hidden;
      z-index: 2;
      @include media-breakpoint-down(xl) {
        padding-left: 15px;
      }
      @include media-breakpoint-down(md) {
        padding-right: 0;
      }
      &:before {
        content: "";
        position: absolute;
        left: 0px;
        top: 0px;
        height: 100%;
        transform: scale(0.996);
        width: 100%;
        border-radius: 25px 0 0 25px;
        background-color: var(--theme-color-white);
        clip-path: polygon(0% 8.162%, 0% 8.162%, 0.077% 6.858%, 0.301% 5.621%, 0.66% 4.467%, 1.14% 3.414%, 1.731% 2.478%, 2.42% 1.674%, 3.194% 1.02%, 4.042% 0.533%, 4.952% 0.228%, 5.91% 0.123%, 100% 0.123%, 100% 75.118%, 100% 75.118%, 99.97% 75.927%, 99.881% 76.719%, 99.737% 77.49%, 99.538% 78.234%, 99.287% 78.946%, 98.985% 79.622%, 98.636% 80.255%, 98.24% 80.841%, 97.801% 81.374%, 97.32% 81.85%, 78.634% 98.436%, 78.634% 98.436%, 78.341% 98.68%, 78.039% 98.9%, 77.729% 99.095%, 77.412% 99.265%, 77.089% 99.409%, 76.76% 99.529%, 76.426% 99.622%, 76.088% 99.689%, 75.747% 99.73%, 75.404% 99.743%, 5.91% 99.743%, 5.91% 99.743%, 4.952% 99.638%, 4.042% 99.333%, 3.194% 98.846%, 2.42% 98.192%, 1.731% 97.389%, 1.14% 96.452%, 0.66% 95.399%, 0.301% 94.245%, 0.077% 93.008%, 0% 91.705%, 0% 8.162%);
        z-index: 1;
      }
      &:after {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
        background-color: #e6e0fa;
        z-index: 0;
        clip-path: polygon(0% 8.162%, 0% 8.162%, 0.077% 6.858%, 0.301% 5.621%, 0.66% 4.467%, 1.14% 3.414%, 1.731% 2.478%, 2.42% 1.674%, 3.194% 1.02%, 4.042% 0.533%, 4.952% 0.228%, 5.91% 0.123%, 100% 0.123%, 100% 75.118%, 100% 75.118%, 99.97% 75.927%, 99.881% 76.719%, 99.737% 77.49%, 99.538% 78.234%, 99.287% 78.946%, 98.985% 79.622%, 98.636% 80.255%, 98.24% 80.841%, 97.801% 81.374%, 97.32% 81.85%, 78.634% 98.436%, 78.634% 98.436%, 78.341% 98.68%, 78.039% 98.9%, 77.729% 99.095%, 77.412% 99.265%, 77.089% 99.409%, 76.76% 99.529%, 76.426% 99.622%, 76.088% 99.689%, 75.747% 99.73%, 75.404% 99.743%, 5.91% 99.743%, 5.91% 99.743%, 4.952% 99.638%, 4.042% 99.333%, 3.194% 98.846%, 2.42% 98.192%, 1.731% 97.389%, 1.14% 96.452%, 0.66% 95.399%, 0.301% 94.245%, 0.077% 93.008%, 0% 91.705%, 0% 8.162%);
      }
      .content {
        position: relative;
        padding: 14px 22px 0px 1px;
        z-index: 2;
        @include media-breakpoint-down(xl) {
          padding-right: 5px;
        }
        .post-meta {
          position: relative;
          padding-bottom: 10px;
          margin-bottom: 20px;
          border-bottom: 1px solid #e6e0fa;
          display: flex;
          flex-direction: row;
          gap: 15px;
          li {
            position: relative;
            display: flex;
            align-items: center;
            font-size: 14px;
            gap: 10px;
            .icon {
              position: relative;
              color: var(--theme-color1);
            }
          }
        }

        .title {
          position: relative;
          margin-bottom: 21px;
          @include media-breakpoint-down(xl) {
            font-size: 22px;
          }
          a:hover {
            color: var(--theme-color1);
          }
        }
        .text {
          position: relative;
          margin-bottom: 10px;
        }
      }

      .btn-box {
        position: relative;
        height: 56px;
        @include flex-between;
        z-index: 2;
        &:before {
          content: "";
          position: absolute;
          top: 29px;
          left: 25%;
          width: 165px;
          height: 2px;
          background-color: #e6e0fa;
          @include transition(all 300ms ease);
          @include media-breakpoint-down(xl) {
            display: none;
          }
        }
        .text {
          font-size: 14px;
        }
        .readmore {
          position: absolute;
          right: 0;
          bottom: 0;
          width: 56px;
          height: 56px;
          font-size: 20px;
          @include flex-center;
          border-radius: 50%;
          color: var(--theme-color3);
          border: 2px solid var(--theme-color1);
          background-color: var(--theme-color-white);
          i {
            position: relative;
            z-index: 1;
          }
          &:before {
            content: "";
            @include overlay;
            pointer-events: none;
            transform: scale(0.8);
            opacity: 0;
            border-radius: 50%;
            background: var(--theme-color1);
            @include transition(all 300ms ease);
          }
        }
      }
    }
  }
}

/*** 

====================================================================
    news-section-h2
====================================================================

***/

.news-section-h2 {
  position: relative;
  padding: 0 0 90px;
  @include media-breakpoint-down(lg){
    padding: 0 0 50px;
  }
  .sec-title-h2 {
    margin-bottom: 50px;
    @include media-breakpoint-down(lg){
      margin-bottom: 30px;
    }
  }
  .news-block-h2 {
    padding: 0 10px;
    .inner-block {
      position: relative;
      margin-bottom: 30px;
      &:hover {
        .images-box {
          .inner-box {
            .image {
              img {
                &:first-child{
                  transform: translateX(0) scaleX(1);
                  opacity: 1;
                  filter: blur(0);
                }
                &:nth-child(2){
                  transform: translateX(-50%) scaleX(2);
                  opacity: 0;
                  filter: blur(10px);
                }
              }
            }
          }
        }
      }
      .images-box {
        position: relative;
        .inner-box {
          .image {
            position: relative;
            overflow: hidden;
            &:before {
              position: absolute;
              content: "";
              background-image: linear-gradient(transparent, var(--theme-color1));
              width: 100%;
              height: 0;
              bottom: 0;
              left: 0;
              @include transition(all 300ms ease);
              z-index: 2;
              pointer-events: none;
            }
            img {
              display:block;
              position:relative;
              width:100%;
              height: 100%;
              @include transition(all 500ms ease);
              &:first-child{
                position:absolute;
                left:0px;
                top:0px;
                right:0px;
                bottom:0px;
                z-index:1;
                transform: translateX(50%) scaleX(2);
                opacity: 0;
                filter: blur(10px);
              }
            }
          }
          .date-box {
            position: absolute;
            left: 30px;
            bottom: 0;
            text-align: center;
            line-height: 1;
            background-color: var(--theme-color1);
            padding: 11px 22px;
            z-index: 2;
            .date {
              font-size: 30px;
              font-weight: 500;
              font-family: var(--heading-font-family);
              margin-bottom: 5px;
              color: var(--theme-color1-text-color);
            }
            .month {
              font-size: 14px;
              font-weight: 400;
              line-height: 18px;
              color: var(--theme-color1-text-color);
              text-transform: uppercase;
            }
          }
        }
      }
      .content-box {
        .inner-box  {
          position: relative;
          padding: 0 28px 20px;
          z-index: 1;
          border-bottom: 3px solid #f3f4f7;
          @include media-breakpoint-down(lg){
            padding: 0 15px 20px;
          }
          .post-meta {
            display: flex;
            flex-direction: row;
            background-color: #f3f4f7;
            padding: 5px 12px;
            margin-bottom: 15px;
            li {
              margin-right: 15px;
              font-size: 14px;
              color: rgba(var(--theme-color-black-rgb), .4);
              @include media-breakpoint-down(lg){
                margin-right: 10px;
              }
              i {
                margin-right: 5px;
                color: var(--theme-color1);
                font-size: 14px;
              }
            }
          }
          .title {
            font-weight: 600;
            @include transition(all 0ms ease);
            a {
              &:hover {
                color: var(--theme-color1);
              }
            }
          }
          .text {
            margin-bottom: 20px;
          }
          .theme-btn {
            font-size: 12px;
            font-weight: 800;
            color: var(--theme-color-dark);
            &:hover {
              color: var(--theme-color1);
              .icon {
                background-color: var(--theme-color1);
              }
            }
            .icon {
              margin-right: 8px;
              border-radius: 50%;
              font-size: 11px;
              line-height: 16px;
              width: 16px;
              height: 16px;
              color: var(--theme-color1-text-color);
              background-color: var(--theme-color-dark);
              text-align: center;
              @include transition(all 300ms ease);
              position: relative;
              bottom: 1px;
            }
            .btn-title {
              line-height: 12px;
              text-transform: uppercase;
            }
          }
        }
      }
    }
  }
}


/*** 

====================================================================
    news-section-h3
====================================================================

***/

.news-section-h3 {
  padding: 195px 0 90px;
  position: relative;
  z-index: 1;
  @include media-breakpoint-down(lg){
    padding: 155px 0 50px;
  }
  .sec-title-h1 {
    margin-bottom: 60px;
    @include media-breakpoint-down(lg){
      margin-bottom: 30px;
    }
  }
}

.news-block-h3 {
  .inner-block {
    position: relative;
    margin-bottom: 30px;
    &:hover {
      .images-box {
        .inner-box {
          .icon {
            transform: rotate(45deg) scale(1);
          }
          .image {
            img {
              &:first-child{
                transform: translateX(0) scaleX(1);
                opacity: 1;
                filter: blur(0);
              }
              &:nth-child(2){
                transform: translateX(-50%) scaleX(2);
                opacity: 0;
                filter: blur(10px);
              }
            }
          }
        }
      }
    }
    .images-box {
      .inner-box {
        position: relative;
        margin-bottom: 33px;
        .image {
          position: relative;
          overflow: hidden;
          border-radius: 30px;
          z-index: 1;
          margin-bottom: 0;
          img {
            display:block;
            position:relative;
            width:100%;
            height: 100%;
            border-radius: 30px;
            @include transition(all 500ms ease);
            &:first-child{
              position:absolute;
              left:0px;
              top:0px;
              right:0px;
              bottom:0px;
              z-index:1;
              transform: translateX(50%) scaleX(2);
              opacity: 0;
              filter: blur(10px);
            }
          }
        }
        .icon {
          background-color: var(--theme-color1);
          border-radius: 50%;
          color: var(--theme-color1-text-color);
          font-size: 24px;
          height: 78px;
          line-height: 78px;
          width: 78px;
          text-align: center;
          position: absolute;
          right: 9px;
          bottom: 13px;
          z-index: 2;
          transform: rotate(45deg) scale(0);
          &:hover {
            transform: rotate(0) scale(1);
          }
        }
      }
    }
    .content-box {
      .inner-box {
        .catagories {
          font-size: 14px;
          color: var(--theme-color-dark);
          margin-bottom: 17px;
          span {
            text-transform: capitalize;
            color: var(--text-color);
            margin-right: 15px;
          }
        }
        .title {
          margin-bottom: 0;
          @include transition(all 0ms ease);
          &:hover {
            color: var(--theme-color1);
          }
        }
      }
    }
  }
}