/***

====================================================================
    claint-section-h1
====================================================================

***/

.claint-section-h1 {
    padding: 120px 0 50px;
    @include media-breakpoint-down(lg){
        padding: 80px 0 10px;
    }
    .sec-title {
        margin-bottom: 55px;
        @include media-breakpoint-down(lg){
            margin-bottom: 30px;
        }
        .sub-title {
            font-size: 16px;
            font-weight: 700;
            color: var(--theme-color-black);
            display: inline-block;
            position: relative;
            &:before {
                position: absolute;
                content: "";
                background-color: #D9D9D9;
                width: 539px;
                height: 1px;
                top: calc(50% - 0.5px);
                right: 209px;
            }
            &:after {
                position: absolute;
                content: "";
                background-color: #D9D9D9;
                width: 539px;
                height: 1px;
                top: calc(50% - 0.5px);
                left: 209px;
            }
        } 
    }
    .logo {
        cursor: pointer;
        @include media-breakpoint-down(lg){
            text-align: center;
        }
    }
}
