/***

====================================================================
   cta-section-h1
====================================================================

***/
.cta-section-h3 {
  padding: 0 15px;
  .outer-box {
    max-width: 1870px;
    margin: 0 auto;
    padding: 120px 15px 0;
    border-radius: 20px;
    position: relative;
    @include media-breakpoint-down(lg){
      padding: 80px 15px 0;
    }
    &:before {
      position: absolute;
      content: "";
      background-image: url(../images/background/cta-h3-1.jpg);
      background-repeat: no-repeat;
      background-position: center center;
      background-size: cover;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      border-radius: 20px;
    }
  }

  .ks-funfact-2 {
    &-area {
      position: relative;
    }
    &-shape-1 {
      position: absolute;
      top: -140%;
      left: 0;
      width: 100%;
      z-index: -1;
      @include media-breakpoint-down(xxxl) {
        top: -100%;
      }
      @include media-breakpoint-down(lg) {
        top: -65%;
      }
    }
    &-number {
      font-weight: 700;
      font-size: 90px;
      line-height: .7;
      margin-bottom: 25px;
      text-transform: capitalize;
      color: var(--theme-color-white);
      & i {
        font-style: normal;
      }
    }
    &-item {
      margin-bottom: 30px;
      @include media-breakpoint-down(lg){
        margin-bottom: 70px;
      }
      @include media-breakpoint-down(md){
        text-align: center;
      }
      & span {
        text-transform: uppercase;
        @include media-breakpoint-down(lg) {
          font-size: 14px;
        }
        @include media-breakpoint-down(md) {
          color: var(--theme-color-dark);
        }
        @include media-breakpoint-down(sm) {
          font-size: 13px;
        }
      }
      &.style-three {
        text-align: right;
        @include media-breakpoint-down(lg){
          text-align-last: left;
        }
        @include media-breakpoint-down(md){
          text-align-last: center;
        }
      }
      &.style-one {
        text-align: center;
        margin-left: -55px;
        @include media-breakpoint-down(lg){
          text-align-last: left;
          margin-left: 0;
        }
        @include media-breakpoint-down(md){
          text-align-last: center;
        }
      }
      &.style-two {
        text-align: center;
        margin-right: -70px;
        @include media-breakpoint-down(lg){
          text-align-last: left;
          margin-right: 0;
        }
        @include media-breakpoint-down(md){
          text-align-last: center;
        }
      }
    }
    &-border {
      padding-bottom: 53px;
      border-bottom: 1px solid rgba(66, 66, 88, 0.2);
      @include media-breakpoint-down(xxl) {
        padding-bottom: 43px;
      }
    }
  }

  .ks-step {
    &-icon {
      display: inline-block;
      height: 120px;
      width: 120px;
      line-height: 120px;
      text-align: center;
      border-radius: 50%;
      background-color: var(--theme-color1);
      @include transition(all 300ms ease);
      &:hover {
        background-color: #37334b;
        .ks-step-number {
          color: var(--theme-color1-text-color);
          background-color: var(--theme-color1);
        }
      }
      & svg {
        @include media-breakpoint-down(xl) {
          width: 40px;            
        }
      }
    }
    &-number {
      position: absolute;
      top: 0;
      left: 0;
      display: inline-block;
      height: 40px;
      width: 40px;
      line-height: 40px;
      text-align: center;
      border-radius: 50%;
      font-size: 16px;
      font-weight: 400;
      color: var(--theme-color3);
      background-color: var(--theme-color-white);
      @include transition(all 300ms ease);
    }
    &-title {
      font-weight: 700;
      font-size: 26px;
      margin-bottom: 18px;
      color: var(--theme-color-white);
      @include media-breakpoint-down(xl) {
        font-size: 22px;
      }
    }
    &-bottom {
      margin: 56px 53.5px 0;
      border-radius: 250px;
      padding: 10px 10px 10px 40px;
      border: 1px solid rgb(66, 66, 88);
      @include media-breakpoint-down(xl) {
        margin: 0;
      }
      @include media-breakpoint-down(md) {
        flex-wrap: wrap;
        border-radius: 20px;
        padding: 20px;
      }
      & h5 {
        color: var(--theme-color-white);
        font-family: var(--style-font-family);
        font-weight: 600;
        @include media-breakpoint-down(xl) {
          font-size: 17px;
        }
        @include media-breakpoint-down(md) {
          margin-bottom: 15px !important;
        }
      }
    }
    &-area.pt-90 {
      @include media-breakpoint-down(xxl) {
        padding-top: 20px ;
      }
    }
    &-area{
      padding: 120px 0;
      @include media-breakpoint-down(lg){
        padding: 80px 0;
      }
      .sec-title-h2 {
        margin-bottom: 60px;
        .title {
          text-transform: uppercase;
        }
      }
      &-2{
        // background-image: url(../images/background/home4-process-bg.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        & .ks-section-subtitle,
        & .ks-section-title,
        & .ks-step-title{
          color: var(--theme-color-white);
          [data-tm-layout="dark"] & {
            color: var(--headings-color);
          }
        }
        &:before{
          background: rgba(255, 248, 38, 0.3);
          filter: blur(150px);
          bottom: 50px;
          content: "";
          height: 415px;
          position: absolute;
          top: auto;
          width: 415px;
        }
      }
    }
    &-shape {
      &-1 {
        position: absolute;
        top: -14%;
        right: 7%;
        z-index: 0;
        @include for-xxl {
          top: -22%;
          right: 3%;
        }
        @include media-breakpoint-down(xxxl) {
          top: -22%;
          right: 0%;
        }
      }
      &-2 {
        position: absolute;
        top: 28%;
        left: -30%;
        z-index: 0;
      }
      &-3 {
        position: absolute;
        top: 28%;
        right: -73px;
        z-index: 0;
      }
    }
  }

}



.ks-step-item.text-center.ks-step-item {
    @include media-breakpoint-down(xl){
      margin-bottom: 30px;
    }
}
