/*** 
====================================================================
    Faq Section
====================================================================
***/

.faq-section {
    position: relative;
    padding: 120px 0 115px;
    @include media-breakpoint-down(lg){
        padding: 80px 0 75px;
    }
    .outer-box {
        max-width: 1700px;
        margin: 0 auto;
        border-radius: 10px;
        border: 1px solid #00000012;
        padding: 120px 0 0;
        position: relative;
        @include media-breakpoint-down(lg){
            padding: 80px 0 0;
        }
        @include media-breakpoint-down(md) {
            padding: 60px 0 0;
        }
    }

    .shape-17 {
        position: absolute;
        top: 0;
        left: 50px;
        pointer-events: none;
        @include media-breakpoint-down(xl) {
            display: none;
        }
    }

    .shape-2 {
        position: absolute;
        top: 0px;
        right: 0px;
    }

    .shape-3 {
        position: absolute;
        bottom: 20px;
        left: 0px;
    }

    .content-column {
        .inner-column {
            position: relative;
            padding-right: 23px;
            .sec-title-h1 {
                margin-bottom: 42px;
            }
            .accordion-box .block .acc-btn {
                font-weight: 700;
            }
        }
    }

    .image-column {
        .inner-column {
            position: relative;
            margin-right: -57px;
            padding-left: 50px;
            margin-top: -60px;
            @include media-breakpoint-down(xl) {
                margin-right: 0;
                padding-left: 0;
                margin-top: 0;
                text-align: center;
            }
            .image {
                position: relative;
                margin-bottom: 0;
                width: 100%;
                height: 100%;
                z-index: 5;
                @include media-breakpoint-down(lg) {
                    width: 70%;
                    margin: 0 auto;
                }
                @include media-breakpoint-down(md) {
                    width: 90%;
                }
                @include media-breakpoint-down(sm) {
                    width: 100%;
                }
                img {
                    position: relative;
                    width: 100%;
                    height: 100%;
                }
            }
            .icon-20 {
                position: absolute;
                bottom: 65px;
                right: -100px;
                z-index: 6;
                box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.07);
                @media (max-width: 1499.98px){
                    right: 0;
                }
                @include media-breakpoint-down(xxl) {
                    right: 0;
                }
                @include media-breakpoint-down(lg) {
                    display: none;
                }
                @include media-breakpoint-down(sm) {
                    display: none;
                }
            }
            .icon-21 {
                position: absolute;
                top: 40px;
                left: -70px;
                @include media-breakpoint-down(lg) {
                    display: none;
                }
            }
            .icon-22 {
                position: absolute;
                bottom: 30px;
                left: 0;
                animation: fa-spin 10s infinite linear;
                @include media-breakpoint-down(md) {
                    display: none;
                }
            }
            .icon-23 {
                position: absolute;
                top: 230px;
                right: 0;
                z-index: 2;
                animation: fa-spin 10s infinite linear;
                @include media-breakpoint-down(md) {
                    display: none;
                }
            }
            .icon-24 {
                position: absolute;
                bottom: 60px;
                left: -40px;
                z-index: 1;
                @include media-breakpoint-down(xl) {
                    bottom: 0;
                }
                @include media-breakpoint-down(lg) {
                    left: 0;
                }
                @include media-breakpoint-down(md) {
                    display: none;
                }
            }
            .icon-25 {
                position: absolute;
                top: -80px;
                right: -90px;
                @include media-breakpoint-down(sm) {
                    display: none;
                }
            }
            .shape-18 {
                position: absolute;
                top: 0;
                right: -150px;
                @include media-breakpoint-down(sm) {
                    display: none;
                }
            }
        }
    }
}
