/***

==================================================================
    Pricing Section
==================================================================

***/

.pricing-section {
  padding: 120px 0 90px;
}

.pricing-block {
  background: #F5F5F5;
  border: 1px solid rgba(var(--theme-color-white-rgb), .13);
  border-radius: 30px;
  padding: 51px 40px 49px;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
  position: relative;
  @include transition(all 300ms ease);
  @media (max-width: 375.98px){
    padding: 30px 15px;
  }
  &:before {
    background-image: url(../images/icons/shape-1.png);
    content: "";
    position: absolute;
    top: 50px;
    left: -55px;
    height: 100%;
    width: 100%;
    opacity: 0;
    visibility: hidden;
    @include transition(all 300ms ease);
  }
  &:hover, &.active {
    background: var(--theme-color2);
    &:before {
      opacity: 1;
      visibility: visible;
    }
    .price {
      border-bottom-color: rgba(var(--theme-color-white-rgb), .2);
      color: var(--theme-color2-text-color);
    }
    .tag {
      background-color: #13463F;
      color: var(--theme-color2-text-color);
    }
    .list {
      li {
        color: #cccccc;
      }
    }
    .theme-btn-two {
      background: var(--theme-color1);
      color: var(--theme-color-black);
    }
  }
  .inner-content {
    position: relative;
    z-index: 1;
  }
  .price {
    color: var(--headings-color);
    font-size: 18px;
    font-weight: 400;
    line-height: 1;
    border-bottom: 1px solid rgba(var(--theme-color-black-rgb), .1);
    padding-bottom: 14px;
    @include transition(all 300ms ease);
    span {
      font-size: 60px;
      font-weight: 500;
      @include transition(all 300ms ease);
    }
    sup {
      font-size: 24px;
      top: -3px;
      @include transition(all 300ms ease);
    }
  }
  .tag {
    background-color: #EBEBEB;
    border-radius: 0 0 30px 30px;
    color: var(--headings-color);
    display: inline-flex;
    padding: 15px 60px;
    text-align: center;
    font-size: 20px;
    font-weight: 500;
    @include transition(all 300ms ease);
    @include media-breakpoint-down(lg) {
      padding: 9px 55px 17px;
    }
  }
  .list {
    padding: 30px 0 40px 8px;
    text-align: left;
    li {
      padding: 2px 0;
      @include transition(all 300ms ease);
      .icon {
        color: var(--theme-color1);
        padding-right: 15px;
        @include transition(all 300ms ease);
      }
    }
  }
  &.style-2 {
    @include media-breakpoint-down(md) {
      margin-top: 80px;
    }
    .recommend {
      background-color: var(--theme-color1);
      border-radius: 30px 30px 0 0;
      color: var(--headings-color);
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      width: 100%;
      padding: 11px 0 67px;
      text-align: center;
      font-size: 20px;
      font-weight: 500;
      line-height: 30px;
      top: -50px;
      z-index: -1;
    }
  }
}

/***

==================================================================
    Pricing Section Four
==================================================================

***/

.pricing-section-four{
  position: relative;
  padding: 100px 0 120px;
  @include media-breakpoint-down(lg){
    padding: 80px 0 40px;
  }
}

.pricing-block-four{
  @include media-breakpoint-down(lg){
    margin-bottom: 40px;
  }
  .inner-box{
    position: relative;
    &.active,
    &:hover {
      .content-column {
        .inner-column {
          background-color: var(--theme-color-black);
          border-color: var(--theme-color-black);
          .pricing-amount {
            border-color: rgba(217, 217, 217, .3);
            color: var(--theme-color-white);
            span {
              color: var(--theme-color-white);
            }
          }
          .list-style-two {
            li {
              color: var(--theme-color-white);
              .icon {

              color: var(--theme-color1);
              }
              &:before {
                color: var(--theme-color-white);
              }
            }
          }
        }
      }
    }
    .content-column{
      .inner-column{
        border: 1px solid #e0e0e0;
        position: relative;
        padding: 0 40px 40px;
        z-index: 99;
        margin-top: 34px;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        transition: all 0.3s ease;
        @include media-breakpoint-down(xl){
          margin-right: -113px;
        }
        @include media-breakpoint-down(lg){
          margin-top: 0;
        }
        .pricing-title{
          background-color: var(--theme-color1);
          color: var(--theme-color-white);
          font-size: 18px;
          padding: 6px 19px;
          display: inline-block;
          position: relative;
          &:before {
            background-color: var(--theme-color2);
            content: "";
            height: 1px;
            width: 100%;
            position: absolute;
            left: 0;
            top: -1px;
            transition: all 0.3s ease;
          }
        }
        .pricing-amount{
          border-bottom: 1px solid #d9d9d9;
          font-size: 50px;
          color: var(--theme-color-black);
          margin-bottom: 0;
          margin-top: 29px;
          padding-bottom: 30px;
          text-align: center;
          min-width: 260px;
          width: 100%;
          transition: all 0.3s ease;
          sup {
            font-size: 24px;
            top: -17px;
          }
          span{
            font-family: var(--text-font);
            font-size: 16px;
            color: var(--text-color);
            position: relative;
            top: 10px;
            margin-left: 7px;
            transition: all 0.3s ease;
            &:before {
              background-color: #a4a4a4;
              content: "";
              height: 50px;
              width: 1px;
              position: absolute;
              left: -10px;
              top: -18px;
              transform: rotate(-142.1deg);
              transition: all 0.3s ease;
            }
          }
        }
        .list-style-two {
          margin-top: 32px;
          min-width: 263px;
          li {
            margin-bottom: 15px;
            position: relative;
            transition: all 0.3s ease;
            font-weight: 400;
            &:before {
              color: #868686;
              content: "\f054";
              font-family: "Font Awesome 6 Pro";
              font-weight: 900;
              font-size: 16px;
              right: 0;
              position: absolute;
              transition: all 0.3s ease;
            }
            .icon {
              transition: all 0.3s ease;
              color: var(--theme-color-dark);
            }
          }
        }
        .book-now{
          margin-top: 20px;
          width: 100%;
          justify-content: center;
        }
        .btn-style-four {
          padding: 12px 46px;
          border-radius: 0;
        }
      }
    }
  }
}
