/*** 

====================================================================
  Search Popup
====================================================================

***/

.search-popup {
  position: fixed;
  left: 0;
  top: 0;
  height: 100vh;
  width: 100%;
  z-index: 99;
  opacity: 0;
  visibility: hidden;
  transition: all 500ms ease;
  overflow: hidden;
  transform: scale(.95);
  .search-back-drop {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: var(--theme-color-dark);
    [data-tm-layout="lemon"] & {
      background-color: var(--dark-color1);
    }
    opacity: .95;
  }
  .close-search {
    position: absolute;
    top: 30px;
    right: 30px;
    font-size: 26px;
    color: var(--theme-color-white);
    [data-tm-layout="lemon"] & {
      color: var(--headings-color);
    }
    z-index: 3;
    border-radius: 50%;
    background-color: transparent;
    transition: all 500ms ease;
  }
  .search-inner {
    position: relative;
    display: block;
    top: 40%;
    height: auto;
    z-index: 1;
    width: calc(100% - 60px);
    max-width: 800px;
    margin: auto;
    opacity: 0;
    transform: translateY(-50px);
    @include transition(all 300ms ease);
  }
  .form-group {
    position: relative;
    display: flex;
    align-items: center;
    input[type="search"],
    input[type="text"] {
      position: relative;
      display: block;
      line-height: 20px;
      font-size: 16px;
      width: 100%;
      height: 50px;
      border: 1px solid #e1e6dc;
      padding: 15px 20px;
      color: #707070;
      background: #ffffff;
      [data-tm-layout="lemon"] & {
        background: var(--dark-color2);
      }
      border-radius: 5px;
      transition: all 500ms ease;
      &:focus {
        border-color: var(--border-theme-color2);
      }
    }
    button {
      background: #ffffff;
      border-radius: 5px;
      color: var(--theme-color-dark);
      [data-tm-layout="lemon"] & {
        background: var(--dark-color1);
        color: var(--dark-color2);
      }
      display: block;
      font-size: 18px;
      font-weight: normal;
      height: 40px;
      line-height: 40px;
      position: absolute;
      right: 5px;
      top: 5px;
      width: 40px;
      transition: all 500ms ease;
      &:hover {
        color: var(--theme-color-dark);
        [data-tm-layout="lemon"] & {
          color: var(--dark-color2);
        }
      }
    }
  }
  textarea,
  input {
    &::placeholder {
      color: inherit;
    }
  }
}

.moblie-search-active {
  .search-popup {
    opacity: 1;
    visibility: visible;
    transform: scale(1);
    border-radius: 0%;

    .search-inner {
      opacity: 1;
      transform: translateY(0);
      transition-delay: 500ms;
    }
  }
}