/*** 

====================================================================
Section Title
====================================================================

***/

.sec-title {
  position: relative;
  margin-bottom: 60px;
  .sub-title {
    display: flex;
    align-items: center;
    gap: 9px;
    font-size: var(--sec-title-subtitle-font-size);
    line-height: var(--sec-title-subtitle-line-height);
    font-weight: var(--sec-title-subtitle-font-weight);
    font-family: var(--sec-title-subtitle-font-family);
    color: var(--sec-title-subtitle-color);
    text-transform: uppercase;
    margin-bottom: 10px;
    .icon-img{
      min-width: 14px;
      [data-tm-layout="lemon"] & {
        filter: invert(1);
      }
    }
    .icon{
      color: var(--theme-color-white);
      margin-right: 8px;
      font-size: 16px;
    }
  }
  &.text-center{
    .sub-title{
      justify-content: center;
    }
  }

  h1{
    position: relative;
    font-size: var(--h1-font-size);
    font-weight: 400;
    line-height: 1.211em;        
  }

  h2 {
    position: relative;
    font-size: var(--sec-title-font-size);
    color: var(--sec-title-color);
    font-family: var(--sec-title-font-family);
    font-weight: var(--sec-title-font-weight);
    line-height: var(--sec-title-title-line-height);
    margin-bottom: 0;
    @include responsive-font(30px, 4vw, 50px, 1.2);
    span{
      font-weight: 700;
      color: var(--theme-color1);
    }
    @include media-breakpoint-down(md){
      font-size: 40px;
      line-height: 50px;
    }
    @include media-breakpoint-down(sm){
      font-size: 36px;
      line-height: 46px;
      br {
        display: none;
      }
    }
  }

  .text {
    color: var(--theme-color-lighter2);
    [data-tm-layout="lemon"] & {
      color: var(--body-color);
    }
    font-size: 16px;
    font-weight: 400;
    line-height: 29px;
    margin-top: 30px;
    @include media-breakpoint-down(sm){
      font-size: 14px;
      br {
        display: none;
      }
    }
  }

  .text2 {
    color: var(--theme-color-lighter2);
  }

  &.light{
    .sub-title,
    .text,
    h2,
    h1{
      color: var(--theme-color-gray);
    }
    span{
      font-weight: 700;
      color: var(--theme-color-gray);
    }
  }
}

.title-stroke-text{
  color: var(--theme-color1);
  [data-tm-layout="lemon"] & {
    color: var(--dark-color2);
  }
  font-size: 200px;
  font-weight: 700;
  line-height: 200px;
  pointer-events: none;
  text-transform: uppercase;
  @include responsive-font(55px, 9.5vw, 200px, 1.2);
  span{
    position: relative;
    font-size: 200px;
    font-weight: 700;
    line-height: 200px;
    pointer-events: none;
    text-transform: uppercase;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 1px;
    -webkit-text-stroke-color: var(--theme-color-white);
    opacity: .25;
    white-space: nowrap;
    transform: translateX(100%);
    overflow: hidden;
    @include responsive-font(55px, 9.5vw, 200px, 1.2);
  }
}

/*** 

====================================================================
sec-title-h1
====================================================================

***/
.sec-title-h1 {
    .sub-title {
        font-size: 14px;
        font-weight: 700;
        letter-spacing: 1.4px;
        line-height: 19.6px;
        text-transform: uppercase;
        color: var(--text-color);
        margin-bottom: 5px;
    }
    .title {
      font-weight: 700;
      margin-bottom: 30px;
      @include media-breakpoint-down(sm){
        br {
          display: none;
        }
      }
    }
    .text {
      max-width: 615px;
    }
    &.white {
      .sub-title {
        color: var(--text-color);
      }
      .title {
        color: var(--theme-color-white);
      }
    }
}



/*** 

====================================================================
sec-title-h2
====================================================================

***/
.sec-title-h2 {
    .sub-title {
        font-size: 14px;
        font-weight: 700;
        letter-spacing: 1.4px;
        line-height: 19.6px;
        text-transform: uppercase;
        color: var(--theme-color1);
        margin-bottom: 10px;
    }
    .title {
      font-weight: 700;
      margin-bottom: 30px;
      @include media-breakpoint-down(sm){
        br {
          display: none;
        }
      }
    }
    .text {
      max-width: 615px;
    }
    &.white {
      .sub-title {
        &.white {
          color: var(--theme-color-white);
        }
      }
      .title {
        color: var(--theme-color-white);
      }
      .text {
        color: var(--theme-color-white);
      }
    }
}