/***

====================================================================
    team-section-h1
====================================================================

***/

.team-section-h1 {
  padding: 0 15px;
  .outer-box {
    max-width: 1844px;
    margin: 0 auto;
    border-radius: 30px;
    overflow: hidden;
    position: relative;
    padding: 125px 0 120px;
    z-index: 1;
    @include media-breakpoint-down(lg){
      padding: 85px 0 80px;
    }
    &:before {
      position: absolute;
      content: "";
      background-image: url(../images/background/team-h1-1.jpg);
      background-size: cover;
      background-repeat: no-repeat;
      width: 100%;
      height: 100%;
      border-radius: 30px;
      top: 0;
      left: 0;
      z-index: 0;
    }
    .sec-title-h1 {
      margin-bottom: 22px;
      .sub-title {
        color: var(--theme-color-white);
        margin-bottom: 10px;
      }
    }
  }
  .team-block-h1 {
    .inner-block {
      position: relative;
      z-index: 1;
      background-color: var(--theme-color2);
      border-radius: 20px;
      padding: 15px;
      @include transition(all 300ms ease);
      @include media-breakpoint-down(xxl){
        margin-bottom: 30px;
      }
      &:hover {
        background-color: var(--theme-color1);
        .content-box {
          .inner-box {
            .socials {
              background-color: var(--theme-color2);
              color: var(--theme-color-white);
              .fa-plus {
                transform: rotate(135deg);
                display: inline-block;
              }
              ul {
                visibility: visible;
                li {
                  opacity: 1;
                  transform: translateY(0px);
                  visibility: visible;
                }
              }
            }
          }
        }
        .image {
          img {
            &:first-child{
              transform: translateX(0) scaleX(1);
              opacity: 1;
              filter: blur(0);
            }
            &:nth-child(2){
              transform: translateX(-50%) scaleX(2);
              opacity: 0;
              filter: blur(10px);
            }
          }
        }
      }
      .image {
        position: relative;
        overflow: hidden;
        border-radius: 20px;
        z-index: 1;
        img {
          display:block;
          position:relative;
          width:100%;
          height: 100%;
          @include transition(all 500ms ease);
          &:first-child{
            position:absolute;
            left:0px;
            top:0px;
            right:0px;
            bottom:0px;
            z-index:1;
            transform: translateX(50%) scaleX(2);
            opacity: 0;
            filter: blur(10px);
          }
        }
      }
      .shape-style1 {
        position: absolute;
        left: 55px;
        top: 0;
        z-index: 0;
      }
      .content-box {
        .inner-box {
          padding: 20px 50px 10px;
         @include media-breakpoint-down(sm){
          padding: 15px;
         } 
          .author-info {
            margin-top: 12px;
            .name {
              font-weight: 600;
              color: var(--theme-color-white);
              margin-bottom: 4px;
            }
            .designation {
              font-size: 14px;
              font-weight: 600;
              color: var(--theme-color-white);
            }
          }
          .socials {
            width: 40px;
            height: 40px;
            line-height: 40px;
            text-align: center;
            border-radius: 50%;
            background-color: var(--theme-color-white);
            color: var(--theme-color2);
            position: absolute;
            right: 30px;
            bottom: 100px;
            cursor: pointer;
            font-size: 14px;
            z-index: 2;
            @include transition(all 300ms ease);
            .fa-plus {
              @include transition(all 300ms ease);
            }
            ul {
              width: 40px;
              position: absolute;
              bottom: 45px;
              right: 0;
              display: flex;
              align-items: center;
              flex-direction: column;
              gap: 5px;
              @include transition(all 500ms ease);
              z-index: 2;
              li {
                opacity: 0;
                display: inline-flex;
                margin-bottom: 0;
                position: relative;
                z-index: 2;
                transform: translateY(10px);
                @include transition(all 500ms ease);
                a {
                  width: 40px;
                  height: 40px;
                  line-height: 40px;
                  text-align: center;
                  background-color: var(--theme-color2);
                  color: var(--theme-color-white);
                  border-radius: 50%;
                  position: relative;
                  z-index: 2;
                  @include transition(all 500ms ease);
                }
              }
            }
          }
        }
      }
    }
  }
}

/***

====================================================================
    team-section-h3
====================================================================

***/


.team-section-h3 {
  position: relative;
  padding: 115px 0 0;
  @include media-breakpoint-down(lg){
    padding: 75px 0 0;
  }
  .shape-1 {
    position: absolute;
    top: -500px;
    right: -450px;
    width: 1015px;
    height: 926px;
    opacity: 0.75;
  }
  .sec-title-h1 {
    margin-bottom: 50px;
    .sub-title {
      margin-bottom: 10px;
    }
  }
}

.team-block-h3 {
  margin-bottom: 50px;
  @include media-breakpoint-down(sm){
    margin-bottom: 70px;
  }
  .inner-box {
    background-color: var(--theme-color-white);
    border: 5px solid var(--theme-color1);
    border-radius: 0 150px 150px 150px;
    position: relative;
    &:before {
      background-color: var(--theme-color1);
      content: "";
      @include overlay;
      top: 5px;
      opacity: 0;
      transform: scale(0);
      border-radius: 0 150px 150px 150px;
      @include transition(all 300ms ease);
    }
    &:hover {
      &:before {
        opacity: 1;
        transform: scale(1);
      }
      .image-box .image img {
        transform: scale(1.1);
      }
      .content-box {
        .icon-box{
          .icon{
            background-color: var(--theme-color1);
            color: var(--theme-color1-text-color);
            border: 2px solid var(--theme-color-white);
            [data-tm-layout="dark"] & {
              color: var(--theme-color-white);
            }
          }
        }
        .name,
        .designation {
          color: var(--theme-color1-text-color);
          [data-tm-layout="dark"] & {
            color: var(--headings-color);
          }
        }
      }
    }
    .image-box {
      position: relative;
      .image {
        position: relative;
        overflow: hidden;
        border-radius: 0 150px 150px 150px;
        margin-bottom: 0;
        img {
          position: relative;
          width: 100%;
          height: 100%;
          @include transition(all 300ms ease);
        }
      }
    }

    .content-box {
      position: relative;
      padding-top: 22px;
      text-align: center;
      .name {
        position: relative;
        margin-bottom: 9px;
        @include transition(all 0ms ease);
      }
      .designation {
        position: relative;
        font-size: 16px;
        line-height: 16px;
        padding-bottom: 20px;
        @include transition(all 300ms ease);
      }
      .icon-box{
        position: relative;
        cursor: pointer;
        @include flex-center;
        margin-bottom: -30px;
        z-index: 5;
        &:hover {
          .icon:after {
            opacity: 1;
            transform: scale(1);
          }
          .social-links {
            transform: scale(1);
            visibility: visible;
          }
        }
        .icon{
          position: relative;
          display: block;
          height: 60px;
          width: 60px;
          @include flex-center;
          font-size: 26px;
          border-radius: 50%;
          color: var(--theme-color2-text-color);
          background-color: var(--theme-color2);
          @include transition(all 300ms ease);
          [data-tm-layout="dark"] & {
            color: var(--headings-color);
          }
          &:before {
            position: relative;
            z-index: 2;
          }
          &:after {
            content: "";
            @include overlay;
            opacity: 0;
            transform: scale(0);
            border-radius: 50%;
            background-color: var(--theme-color2);
            @include transition(all 300ms ease);
            z-index: 1;
          }
        }
        .social-links {
          position: absolute;
          left: 50%;
          bottom: 70px;
          margin-left: -18px;
          display: flex;
          align-items: center;
          flex-direction: column;
          gap: 8px;
          transform-origin: bottom;
          transform: scaleY(0);
          visibility: hidden;
          z-index: 5;
          @include transition(all 500ms ease);
          a {
            background-color: var(--theme-color-white);
            border-radius: 50%;
            color: var(--theme-color-dark);
            @include flex-center;
            font-size: var(--body-font-size);
            height: 36px;
            position: relative;
            width: 36px;
            @include transition(all 300ms ease);
            &:hover {
              color: var(--theme-color-white);
              background-color: var(--theme-color-dark);
            }
          }
        }
      }

    }
  }
}