/*** 

====================================================================
    Testimonial Section
====================================================================

***/

.testimonial-section {
	position: relative;
	padding: 120px 0 0;
	@include media-breakpoint-down(lg) {
		padding: 80px 0 0;
	}
	.shape-8 {
		position: absolute;
		top: -250px;
		left: -100px;
		@include media-breakpoint-down(xl) {
			left: auto;
			right: -100px;
		}
	}
	.sec-title-h1 {
		margin-bottom: 40px;
		@include media-breakpoint-down(xxl) {
			// text-align: center;
		}
	}
	.content-column	{
		.inner-column {
			padding-top: 30px;
			@include media-breakpoint-down(xxl) {
				padding-top: 0;
			}
		}
	}

	.testi-swiper {
		padding-top: 40px;
		border-top: 1px solid #e6e0fa;
		padding-bottom: 0;
	}

	.swiper-navs-box {
		display: flex;
		position: relative;
		margin-top: 25px;
		@include media-breakpoint-down(xxl) {
			flex-direction: column;
			gap: 50px;
		}
		@include media-breakpoint-down(lg) {
			gap: 20px;
		}
		.image-box {
			position: relative;
			display: flex;
			gap: 20px;
			@include media-breakpoint-down(xxl) {
				// justify-content: center;
			}
			.author-image {
				position: relative;
				cursor: pointer;
				width: 80px;
				height: 90px;
				object-fit: cover;
				img {
					width: 80px;
					height: 90px;
					object-fit: cover;
					cursor: pointer;
				}
				&.active {
					.shape-7 {
						opacity: 1;
					}
				}
				.shape-6 {
					position: absolute;
					top: 0;
					left: 0;
					pointer-events: none;
				}
				.shape-7 {
					position: absolute;
					top: 0;
					left: 0;
					opacity: 0;
					pointer-events: none;
					@include transition(all 300ms ease);
				}
			}
		}
		.nav-box {
			position: relative;
			width: 128px;
			height: 56px;
			display: flex;
			gap: 16px;
			margin-right: 20px;
			@include media-breakpoint-down(xxl) {
				margin-right: 0;
			}
			&:before {
				content: "";
				position: absolute;
				top: 33px;
				right: 100%;
				width: 270px;
				height: 2px;
				background-color: #FF432E33;
				opacity: 1;
				margin-right: 30px;
				@include media-breakpoint-down(xxl) {
					display: none;
				}
			}
			.swiper-button-prev {
				left: -10px;
				@include media-breakpoint-down(xxl) {
					left: 0;
				}
			}
			.swiper-button-next {
				@include media-breakpoint-down(xxl) {
					right: 0;
				}
			}
			.swiper-button-prev,
			.swiper-button-next {
				width: 56px;
				height: 56px;
				font-size: 20px;
				border-radius: 50%;
				@include flex-center;
				color: var(--theme-color3);
				background-color: #e6e0fa;
				@include transition(all 300ms ease);
				&:after {
					display: none;
				}
				&:hover {
					color: var(--theme-color-white);
					background-color: var(--theme-color1);
				}
				.swiper-navigation-icon{
					display: none;
				}
			}
		}
	}

	.image-column {
		@include media-breakpoint-down(xxl) {
			// display: none;
		}
		.inner-column {
			position: relative;
			z-index: 0;
			&:hover {
				&:before {
					animation: shine 1s;
					left: 100%;
				}
			}
			.image {
				position: relative;
				width: 100%;
				margin-bottom: 0;
				margin-left: 40px;
				z-index: 3;
				overflow: hidden;
				@media (max-width: 1299.98px){
					margin-left: 0;
				}
				@include media-breakpoint-down(xl){
					text-align: center;
				}
				&:before {
					position: absolute;
					content: "";
					background-color: transparent;
					width: 395px;
					height: 400px;
					border-radius: 500px 500px 0px 0px;
					border: 5px solid var(--theme-color1);
					top: 110px;
					right: 97px;
					z-index: 1;
					@media (max-width: 1256px) {
						right: 50px;
					}
					@include media-breakpoint-down(xl){
						left: 0;
						margin: 0 auto;
						right: 0;
					}
					@include media-breakpoint-down(sm){
						height: 100%;
						width: auto;
					}
				}
				&:after {
					position: absolute;
					content: "";
					bottom: -13px;
			    left: 165px;
			    width: 304px;
			    height: 620px;
			    border-radius: 200px 300px 0px 0px;
			    overflow: hidden;
			    background-color: #EAE3FB;
			    z-index: 0;
					@include media-breakpoint-down(xl){
					  border-radius: 45% 45% 0% 0%;
					  height: 440px;
						left: 0;
						margin: 0 auto;
					}
					@include media-breakpoint-down(md){
						bottom: 0;
					}
					@include media-breakpoint-down(sm){
						height: 80%;
						width: 100%;
					}
				}
				img {
					position: relative;
					z-index: 2;
				}
			}
			.icon-10 {
				position: absolute;
		    right: -55px;
				top: -35px;
				@include media-breakpoint-down(xl){
					display: none;
				}
			}
			.icon-11 {
				position: absolute;
				bottom: 180px;
				left: -175px;
			}
			.icon-12 {
				position: absolute;
				top: 23px;
				left: -50px;
			}
			.icon-13 {
				position: absolute;
				bottom: 110px;
				right: 70px;
			}
		}
	}
}

.testimonial-block {
	.inner-box {
		position: relative;
		padding-right: 10px;
		@include media-breakpoint-down(xxl) {
			// text-align: center;
		}
		.icon-quote {
			position: relative;
			margin-bottom: 15px;
			@include media-breakpoint-down(xxl) {
				margin: 0 auto 15px;
			}
		}
		.icon-quote-3 {
			@include media-breakpoint-down(xxl) {
				// margin: 0 auto;
			}
		}
		.text {
			position: relative;
			font-size: 16px;
			font-weight: 400;
			line-height: 30px;
			margin-bottom: 20px;
			text-transform: capitalize;
			max-width: 679px;
			margin-top: 20px;
			@include media-breakpoint-down(xxl){
				max-width: 100%;
			}
			@include media-breakpoint-only(sm) {
				font-size: 18px;
				line-height: 32px;
			}
		}
		.author-box {
			.name {
				position: relative;
				font-weight: 600;
				margin-bottom: 0;
			}
			.designation {
				position: relative;
				font-size: 16px;
				font-weight: 400;
				margin-bottom: 0;
			}
		}
	}
}

/*** 

====================================================================
    testimonial-section-h3
====================================================================

***/

.testimonial-section-h3 {
	position: relative;
	padding: 90px 0 0;
	@include media-breakpoint-down(xxl) {
		padding-bottom: 120px;
	}
	@include media-breakpoint-down(lg){
		padding: 30px 0 80px;
	}
	.shape-8 {
		position: absolute;
		top: -250px;
		left: -100px;
		pointer-events: none;
		@include media-breakpoint-down(xl) {
			left: auto;
			right: -100px;
		}
	}
	.sec-title-h1 {
		margin-bottom: 40px;
		text-align: left;
		@include media-breakpoint-down(xxl) {
		}
		@include media-breakpoint-down(lg){
			margin-bottom: 20px;
		}
		.sub-title {
			margin-bottom: 10px;
		}
	}

	.testi-swiper-h3 {
		border-top: 1px solid #ADADAD2E;
		padding-top: 40px;
		padding-bottom: 0;
	}

	.swiper-navs-box {
		display: flex;
		justify-content: space-between;
		margin-top: 25px;
		position: relative;
		@include media-breakpoint-down(xxl) {
			flex-direction: column;
			gap: 50px;
		}
		@include media-breakpoint-down(lg) {
			gap: 20px;
		}
		.image-box {
			display: flex;
			gap: 20px;
			position: relative;
			@include media-breakpoint-down(xxl) {
				// justify-content: center;
			}
			.author-image {
				position: relative;
				cursor: pointer;
				width: 80px;
				height: 90px;
				object-fit: cover;
				img {
					width: 80px;
			    height: 90px;
			    object-fit: cover;
			    cursor: pointer;
			    mask-image: url(../images/icons/shape-h3-1.png);
			    mask-size: contain;
			    mask-position: center center;
			    mask-repeat: no-repeat;
				}
				&.active {
					.shape-7 {
						opacity: 1;
					}
				}
				.shape-7 {
					position: absolute;
					top: 0;
					left: 0;
					opacity: 0;
					pointer-events: none;
					@include transition(all 300ms ease);
					width: 100%;
					height: 100%;
					background-size: cover;
					background-repeat: no-repeat;
				}
			}
		}
		.nav-box {
			display: flex;
			gap: 12px;
			height: 52px;
			position: relative;
			width: 116px;
			@include media-breakpoint-down(xxl) {
				margin-right: 0;
			}
			&:before {
				content: "";
				position: absolute;
				top: 33px;
				right: 100%;
				width: 310px;
				height: 1px;
				background-color: #FF432E33;
				opacity: 1;
				margin-right: 30px;
				@include media-breakpoint-down(xxl) {
					display: none;
				}
			}
			.swiper-button-prev {
				left: -10px;
				@include media-breakpoint-down(xxl) {
					left: 0;
				}
			}
			.swiper-button-next {
				@include media-breakpoint-down(xxl) {
					right: 0;
				}
			}
			.swiper-button-prev,
			.swiper-button-next {
				width: 52px;
				height: 52px;
				font-size: 20px;
				border-radius: 50%;
				line-height: 52px;
				@include flex-center;
				color: var(--theme-color1);
				background-color: var(--theme-color-white);
				@include transition(all 300ms ease);
				box-shadow: 0 1px 72px 0 rgba(0, 0, 0, 0.14);
				&:after {
					display: none;
				}
				&:hover {
					color: var(--theme-color1-text-color);
					background-color: var(--theme-color1);
				}
			}
		}
	}

	.image-column {
		@include media-breakpoint-down(xxl) {
			// display: none;
		}
		.inner-column {
			position: relative;
			z-index: 0;
			&:hover {
				&:before {
					animation: shine 1s;
					left: 100%;
				}
			}
			.image {
				position: relative;
				width: 100%;
				margin-bottom: 0;
				margin-left: 50px;
				z-index: 3;
				overflow: hidden;
				@media (max-width: 1299.98px){
					margin-left: 0;
				}
				@include media-breakpoint-down(xl){
					text-align: center;
				}
				&:before {
					position: absolute;
					content: "";
					background-color: transparent;
					width: 395px;
					height: 400px;
					border-radius: 500px 500px 0px 0px;
					border: 5px solid var(--theme-color1);
					top: 110px;
					right: 100px;
					z-index: 1;
					@include media-breakpoint-down(xl){
						left: 0;
						margin: 0 auto;
						right: 0;
					}
					@include media-breakpoint-down(sm){
						height: 100%;
						width: auto;
					}
				}
				&:after {
					position: absolute;
					content: "";
				  bottom: 130px;
				  right: 68px;
				  width: 354px;
				  height: 440px;
				  overflow: hidden;
				  -webkit-transform: rotate(0deg);
				  border-radius: 60% 60% 0% 0%;
				  border-style: none;
				  overflow: hidden;
				  background-color: #EAE3FB;
				  z-index: 0;
					@include media-breakpoint-down(xl){
					  border-radius: 45% 45% 0% 0%;
						left: 0;
						margin: 0 auto;
					}
					@include media-breakpoint-down(md){
						bottom: 0;
					}
					@include media-breakpoint-down(sm){
						height: 80%;
						width: 100%;
					}
				}
				img {
					position: relative;
					z-index: 2;
				}
			}
			.icon-10 {
				position: absolute;
		    right: -5px;
				top: -35px;
				@include media-breakpoint-down(xl){
					display: none;
				}
			}
			.icon-11 {
				position: absolute;
				bottom: 200px;
				left: -135px;
			}
			.icon-12 {
				position: absolute;
				top: 23px;
				left: -50px;
			}
			.icon-13 {
				position: absolute;
				bottom: 110px;
				right: 70px;
			}
		}
	}
}

.testimonial-block-h3 {
	.inner-box {
		padding-right: 10px;
		position: relative;
		@include media-breakpoint-down(xxl) {
			// text-align: center;
		}
		.icon-quote {
			margin-bottom: 15px;
			position: relative;
			@include media-breakpoint-down(xl) {
				margin: 0 auto 15px;
			}
		}
		.icon-quote-3 {
			@include media-breakpoint-down(xxl) {
				// margin: 0 auto 15px;
			}
		}
		.text {
			font-size: 16px;
			font-weight: 400;
			line-height: 30px;
			margin-bottom: 20px;
			margin-top: 20px;
			max-width: 700px;
			position: relative;
			text-transform: capitalize;
			@include media-breakpoint-down(xxl){
				// margin: 20px 0;
			}
			@include media-breakpoint-only(sm) {
				font-size: 18px;
				line-height: 32px;
			}
		}
		.author-box {
			.name {
				font-weight: 600;
				margin-bottom: 0;
				position: relative;
			}
			.designation {
				font-size: 16px;
				font-weight: 400;
				margin-bottom: 0;
				position: relative;
			}
		}
	}
}


/*** 

====================================================================
Testimonial Section
====================================================================

***/
.ks-testimonial {   
  &-area {
    position: relative;
    z-index: 2;
    padding-bottom: 120px;
    @include media-breakpoint-down(lg){
    	padding-bottom: 80px;
    }
    & .ks-testimonial-top-wrap {
      margin-bottom: 17px;
      .sec-title-h1 {
      	.sub-title {
      		margin-bottom: 10px;
      	}
      }
    }
  }  
  &-item {
    background-color: var(--theme-color-white);
    border-radius: 100px 100px 0 100px;
    box-shadow: 0 4px 100px 0 rgba(0, 0, 0, 0.08);
    padding: 40px 60px;
    position: relative;
    z-index: 1;
    [data-tm-layout="dark"] & {
      background-color: var(--dark-color2);
    }
    @include media-breakpoint-down(xl) {
      display: flex;
      align-items: center;
    }
    @include media-breakpoint-down(lg) {
      flex-wrap: wrap;
      padding: 30px 50px;
      border-radius: 20px 20px 0 0;
    }
    @include media-breakpoint-down(md) {
      padding: 30px 20px;
    }
    .ks-testimonial-content {
    	padding: 32px 0;
    }
    & p {
      font-weight: 400;
      font-size: 24px;
      line-height: 34px;
      margin-bottom: 0;
      @include media-breakpoint-down(xl) {
        font-size: 18px;
      }
      @include media-breakpoint-down(md) {
        font-size: 16px;
      }
    }
    & .quote {
      margin-bottom: 25px;
      @include media-breakpoint-down(md) {
        margin-bottom: 10px ;
      }
      & svg {
        fill: var(--review-color);
        @include media-breakpoint-down(md) {
          width: 60px;
        }
      }
    }
    & .ratting {
      margin-bottom: 18px;
      i{
      	width: fit-content;
	    display: inline-block;
        [data-tm-layout="dark"] & {
          color: var(--review-color);
        }
      }
    }
  }
  &-top-text {
    & p {  
      margin-bottom: 0;          
      @include media-breakpoint-down(lg) {
        & br {
          display: none;
        }
      }
      @include media-breakpoint-down(md) {
       margin-top: 30px;
     }
   }
 }
  &-thumb {
    flex: 0 0 auto;
    margin-left: 60px;
    position: relative;
    @include media-breakpoint-down(lg) {
      margin-left: 0 ;
      margin-top: 50px;
    }
    @include media-breakpoint-down(md) {
      flex: 0 1 auto;
      margin-top: 30px;
    }
    & img {
      border-radius: 100px;
    }
  }
  &-thumb-sm {
    position: absolute;
    top: 0;
    left: 0;
    padding: 0 20px 20px 0;
    border-radius: 0 0 50px 0;
    width: 95px;
    height: 115px;
    background-color: var(--theme-color-white);
    &::before {
     content: "";
    position: absolute;
    top: -1px;
    right: -60px;
    width: 60px;
    height: 60px;
    transform: scale(-1) rotate(90deg);
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 200 200' xmlns='http://www.w3.org/2000/svg' transform='rotate(0)'%3E%3Cg transform='rotate(90 100 100)'%3E%3Cpath d='M0,0 L0,200 Q0,0 200,0 Z' fill='white' /%3E%3C/g%3E%3C/svg%3E");
    background-size: cover;
    background-repeat: no-repeat;
    }
    &::after {
     content: "";
    position: absolute;
    bottom: -59px;
    left: 0px;
    width: 60px;
    height: 60px;
    -webkit-transform: scale(-1) rotate(90deg);
    transform: scale(-1) rotate(90deg);
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 200 200' xmlns='http://www.w3.org/2000/svg' transform='rotate(0)'%3E%3Cg transform='rotate(90 100 100)'%3E%3Cpath d='M0,0 L0,200 Q0,0 200,0 Z' fill='white' /%3E%3C/g%3E%3C/svg%3E");
    background-size: cover;
    background-repeat: no-repeat;
    }

    & img {
      border-radius: 70px;
    }
  }
  &-shape-1 {
  position: absolute;
  bottom: 0;
  right: 20px;
  z-index: -1;
  [data-tm-layout="dark"] & {
    opacity: 0.1;
  }
}
  &-user {
    &-info {
      line-height: 1;
      @include media-breakpoint-down(lg){
      	margin-left: -20px;
      }
    }
    &-wrap {
      & span {
        font-weight: 600;
        font-size: 12px;
        text-transform: uppercase;
        color: var(--theme-color-yellow);
      }
      & .title {
        color: var(--theme-color-white);
        font-family: var(--body-font-family);
        font-weight: 600;
        line-height: 1;
        margin-bottom: 12px;
        [data-tm-layout="dark"] & {
          color: var(--headings-color);
        }
      }
      span {
      	font-size: 12px;
      	font-weight: 600;
      	color: var(--theme-color-white);
      }
      & .thumb {
        flex: 0 0 auto;
        margin-right: 20px;
        & img {
          border-radius: 50%;
          height: 58px;
          width: 58px;
        }
      }
    }
  }
  &-bottom {
   	margin-top: -40px;
    margin-left: 60px;
    padding: 60px 80px 20px 80px;
    border-radius: 0 0 100px 100px;
    box-shadow: 0 4px 100px 0 rgba(0, 0, 0, 0.08);
    background: linear-gradient(322deg, var(--theme-color1) 0%, var(--theme-color2) 100%);
    @include media-breakpoint-down(lg) {
      margin-left: 0;
      border-radius: 20px;
      padding: 60px 50px 20px 50px;
    }
    @include media-breakpoint-down(md) {
      padding: 60px 20px 20px 20px;
    }
  }
  &-navigation {
    display: flex;
    gap: 12px;
  	justify-content: end;
  	padding-right: 31px;
    @include media-breakpoint-only(sm) {
      display: flex;
    }
    & button {
      height: 52px;
      width: 52px;
      padding: 0;
      flex: 0 0 auto;
      line-height: .8;
      border-radius: 50%;
      @include transition(all .3s ease);
      background-color: transparent;
      border: 1px solid rgba(255, 255, 255, 0.42);
      @include media-breakpoint-down(lg) {
        height: 38px;
        width: 38px;
      }
      & svg {
        @include media-breakpoint-down(lg) {
          width: 15px;
        }                
      }
      &:hover {
        background-color: var(--theme-color-white);
        border-color: var(--theme-color-white);
        svg {
        	path {
        		fill: var(--headings-color);
        	}
        }
        [data-tm-layout="dark"] & {
          svg path {
            fill: var(--headings-color);
          }
        }
      }
    }
  }
  }
