/***

==================================================================
 video-section-h1
==================================================================

***/
.video-section-h1 {
  position: relative;
  z-index: 1;
  .bg-image {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: -1;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  .outer-box {
    max-width: 1651px;
    padding: 522px 15px 0;
    margin: 0 auto;
    @include media-breakpoint-down(lg){
      padding: 450px 15px 0;
    }
    @include media-breakpoint-down(sm){
      padding: 400px 15px 0;
    }
    .video-box {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50% , -50%);
      @include media-breakpoint-down(sm){
        top: 27%;
      }
      .play-now {
        width: 110px;
        height: 110px;
        border-radius: 50%;
        background-color: #FFFFFF;
        text-align: center;
        line-height: 110px;
        i {
          color: #040618;
          font-size: 26px;
        }
      }
    }
    .content-box {
      margin-left: 63.5%;
      margin-bottom: -54px;
      @include media-breakpoint-down(xxl){
        margin-left: 0;
      }
      &.style-two {
        .title {
          @include media-breakpoint-down(xl){
            br {
              display: none;
            }
          } 
        }
        .theme-btn {
          &:hover {
            color: var(--text-color-theme-color2);
          }
        }
      }
      .inner-box {
        background: #211D1D;
        position: relative;
        padding: 45px 59px 42px;
        @include media-breakpoint-down(xxxl){
          padding: 52px;
        }
        @include media-breakpoint-down(sm){
          padding: 20px;
        }
        &.style-two {
          padding: 60px 61px 48px 59px;
          @include media-breakpoint-down(xxxl){
            padding: 42px;
          }
          @include media-breakpoint-down(sm){
            padding: 20px;
          }
          .title {
            margin-bottom: 18px;
            @include media-breakpoint-down(sm){
              font-size: 30px;
            }
          }
        }
        &:before {
          position: absolute;
          content: "";
          // background-image: url(../images/icons/video-h1-1.png);
          background-position: center center;
          background-repeat: no-repeat;
          width: 100%;
          height: 100%;
          top: 0;
          left: 0;
        }
        .title {
          color: #FFFFFF;
          margin-bottom: 17px;
        }
        .text {
          color: #CCCCCC;
          line-height: 28px;
        }
      }
      .theme-btn {
        width: 100%;
        justify-content: start;
        color: var(--text-color-theme-color1);
        gap: 7px;
        padding-left: 59px;
        @include media-breakpoint-down(xxxl){
          padding-left: 52px;
        }
        @include media-breakpoint-down(sm){
          padding-left: 20px;
        }
        .btn-title {
          text-transform: uppercase;
          @include media-breakpoint-down(xl){
            text-transform: capitalize;
          }
        }
      }
    }
  }
}

@-webkit-keyframes modal-video {
	from {
	opacity: 0;
	}
	to {
	opacity: 1;
	}
}
@keyframes modal-video {
	from {
	opacity: 0;
	}
	to {
	opacity: 1;
	}
}
@-webkit-keyframes modal-video-inner {
	from {
	-webkit-transform: translate(0, 100px);
	transform: translate(0, 100px);
	}
	to {
	-webkit-transform: translate(0, 0);
	transform: translate(0, 0);
	}
}
@keyframes modal-video-inner {
	from {
	-webkit-transform: translate(0, 100px);
	transform: translate(0, 100px);
	}
	to {
	-webkit-transform: translate(0, 0);
	transform: translate(0, 0);
	}
}
.modal-video {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	z-index: 1000000;
	cursor: pointer;
	opacity: 1;
	-webkit-animation-timing-function: ease-out;
	animation-timing-function: ease-out;
	-webkit-animation-duration: 0.3s;
	animation-duration: 0.3s;
	-webkit-animation-name: modal-video;
	animation-name: modal-video;
	-webkit-transition: opacity 0.3s ease-out;
	transition: opacity 0.3s ease-out;
}
.modal-video-effect-exit {
	opacity: 0;
}
.modal-video-effect-exit .modal-video-movie-wrap {
	-webkit-transform: translate(0, 100px);
	transform: translate(0, 100px);
}
.modal-video-body {
	max-width: 960px;
	width: 100%;
	height: 100%;
	margin: 0 auto;
	padding: 0 10px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
.modal-video-inner {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	width: 100%;
	height: 100%;
}
@media (orientation: landscape) {
	.modal-video-inner {
	padding: 10px 60px;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	}
}
.modal-video-movie-wrap {
	width: 100%;
	height: 0;
	position: relative;
	padding-bottom: 56.25%;
	background-color: #333;
	-webkit-animation-timing-function: ease-out;
	animation-timing-function: ease-out;
	-webkit-animation-duration: 0.3s;
	animation-duration: 0.3s;
	-webkit-animation-name: modal-video-inner;
	animation-name: modal-video-inner;
	-webkit-transform: translate(0, 0);
	transform: translate(0, 0);
	-webkit-transition: -webkit-transform 0.3s ease-out;
	transition: -webkit-transform 0.3s ease-out;
	transition: transform 0.3s ease-out;
	transition: transform 0.3s ease-out, -webkit-transform 0.3s ease-out;
}
.modal-video-movie-wrap iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.modal-video-close-btn {
	position: absolute;
	z-index: 2;
	top: -45px;
	right: 0px;
	display: inline-block;
	width: 35px;
	height: 35px;
	overflow: hidden;
	border: none;
	background: transparent;
}
@media (orientation: landscape) {
	.modal-video-close-btn {
	top: 0;
	right: -45px;
	}
}
.modal-video-close-btn:before {
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
}
.modal-video-close-btn:after {
	-webkit-transform: rotate(-45deg);
	transform: rotate(-45deg);
}
.modal-video-close-btn:before, .modal-video-close-btn:after {
	content: "";
	position: absolute;
	height: 2px;
	width: 100%;
	top: 50%;
	left: 0;
	margin-top: -1px;
	background: #fff;
	border-radius: 5px;
	margin-top: -6px;
}
