/***

====================================================================
    Work Section
====================================================================

***/

.working-section {
  padding: 120px 0 90px;
}

.working-block {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
  .inner-block {
    background-color: #F1F8F2;
    border: 1px solid rgba(var(--theme-color2-rgb), .1);
    border-radius: 50%;
    height: 300px;
    padding: 50px 45px;
    position: relative;
    text-align: center;
    width: 300px;
    z-index: 1;
    @include transition(all 300ms ease);
    @include media-breakpoint-down(xxl){
      height: 268px;
      padding: 50px 25px;
      width: 268px;
    }
    @include media-breakpoint-down(xl){
      height: 218px;
      padding: 28px 15px;
      width: 218px;
    }
    @include media-breakpoint-down(lg){
      height: 300px;
      padding: 50px 45px;
      width: 300px;
    }
    @include media-breakpoint-down(md){
      height: 258px;
      padding: 45px 25px;
      width: 258px;
    }
    &:after {
      background-color: var(--theme-color1);
      border-radius: 10px;
      border-radius: 50%;
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      transform: scale(.7);
      opacity: 0;
      visibility: hidden;
      z-index: -1;
      @include transition(all 300ms ease);
    }
    &:hover {
      background-color: var(--theme-color1);
      &:after {
        transform: scale(1);
        opacity: 1;
        visibility: visible;
      }
      .count {
        background-color: #F1F8F2;
        color: #000;
      }
      .title,.text {
        color: var(--theme-color1-text-color);
      }
    }
    .count {
      background-color: var(--theme-color1);
      border-radius: 20px;
      color: var(--theme-color1-text-color);
      display: inline-block;
      font-size: 14px;
      font-weight: 500;
      margin-bottom: 11px;
      padding: 5px 15px;
      text-transform: uppercase;
      @include transition(all 300ms ease);
    }
    .title {
      margin-bottom: 48px;
      @include transition(all 300ms ease);
      @include media-breakpoint-down(xxl){
        margin-bottom: 18px;
      }
      @include media-breakpoint-down(xl){
        margin-bottom: 5px;
      }
      @include media-breakpoint-down(lg){
        margin-bottom: 48px;
      }
      @include media-breakpoint-down(md){
        margin-bottom: 18px;
      }
    }
    .text {
      @include transition(all 300ms ease);
      @include media-breakpoint-down(xl){
        font-size: 14px;
      }
    }
  }
}

/***

====================================================================
    Work Section Two
====================================================================

***/

.working-section-two {
  background-color: var(--theme-color2);
  padding: 120px 0;
}

.working-block-two {
  .inner-block {
    background-color: #114036;
    border: 1px solid rgba(var(--theme-color-white-rgb), .1);
    border-radius: 14px;
    padding: 39px 45px 42px;
    @include transition(all 300ms ease);
    @include media-breakpoint-down(sm){
      padding: 39px 15px 42px;
    }
    &:hover {
    }
    .count {
      background-color: var(--theme-color1);
      border-radius: 20px;
      color: var(--theme-color1-text-color);
      display: inline-block;
      font-size: 14px;
      font-weight: 500;
      margin-bottom: 10px;
      padding: 5px 15px;
      text-transform: uppercase;
      @include transition(all 300ms ease);
    }
    .title {
      color: var(--theme-color-white);
      margin-bottom: 63px;
      @include transition(all 300ms ease);
    }
    .text {
      color: rgba(var(--theme-color-white-rgb), .65);
      @include transition(all 300ms ease);
    }
  }
}