/***

====================================================================
        Contact
====================================================================

***/

// Contact Info Block
.contact-info-block{
  position: relative;
  margin-bottom: 20px;
  .inner{
    position: relative;
    padding-left: 110px;
    min-height: 80px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    @include for-xs{
      padding-left: 70px;
      min-height: auto;
    }
    &:hover{
      .icon{
        background-color: var(--theme-color2);
        border-radius: 50%;
      }
    }
  }
  .icon{
    position: absolute;
    left: 0;
    top: 0;
    height: 80px;
    width: 80px;
    background-color: var(--theme-color1);
    color: #fff;
    font-size: 24px;
    line-height: 1em;
    @include flex-center;
    text-align: center;
    transition: all 300ms ease;
    @include for-xs{
      height: 50px;
      width: 50px;
      font-size: 20px;
    }
  }
  .title{
    font-family: var(--text-font);
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
    color: #717070;
    font-weight: 500;
    margin-bottom: 7px;
  }
  .text{
    font-family: var(--text-font);
    font-size: 16px;
    line-height: 30px;
    color: #171717;
    font-weight: 500;
    text-transform: uppercase;
    a{
      color: inherit;
      font-weight: inherit;
      &:hover{
        color: var(--theme-color1);
      }
    }
  }
}

.contact-details__info {
  position: relative;
  display: block;
  margin-top: 41px;
  li {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    .icon {
      height: 80px;
      width: 80px;
      background-color: var(--theme-color1);
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-transition: all 500ms ease;
      transition: all 500ms ease;
      span {
        color: var(--theme-color-white);
        font-size: 25px;
        -webkit-transition: all 500ms ease;
        transition: all 500ms ease;
      }
    }
    &:hover {
      .icon {
        background-color: var(--theme-color2);
        span {
          color: var(--theme-color-white);
        }
      }
      .text {
        a {
          color: var(--notech-base);
          span {
            color: var(--notech-gray);
          }
        }
      }
    }
    .text {
      margin-left: 30px;
      p {
        font-size: 14px;
        line-height: 24px;
      }
      a {
        font-size: 18px;
        color: var(--notech-black);
        -webkit-transition: all 500ms ease;
        transition: all 500ms ease;
      }
      span {
        font-size: 20px;
        color: var(--notech-black);
      }
    }
  }
  li+li {
    margin-top: 19px;
  }
}
.map{
  height: 450px;
}