/*** 

====================================================================
    Comments
====================================================================

***/
.comment-one {
  .form-control,
  .input-text {
    color: #333;
  }
  .comment-one__title {
    margin-bottom: 30px;
  }
  .comment-one__single {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    border-bottom: 1px solid #ece9e0;
    padding-bottom: 60px;
    margin-bottom: 60px;
    align-items: top;
    @media only screen and (max-width: 767px){
      flex-direction: column;
    }
  }
  .comment-one__content {
    position: relative;
    margin-left: 45px;
    @media only screen and (max-width: 767px){
      margin-top: 20px;
      margin-left: 0;
    }
    h3 {
      margin: 0;
      font-size: 20px;
      color: var(--theme-black);
      margin-bottom: 24px;
    }
    p {
      font-size: 16px;
      font-weight: 500;
    }
  }
  .comment-one__btn {
    font-size: 14px;
    height: auto;
    padding: 5px 30px;
    position: absolute;
    right: 0;
    top: 0;
    @include transition(all 400ms ease);
    &:hover{
      background-color: var(--theme-color1);
      color: var(--theme-color1-text-color);
    }
  }
  .comment-one__image {
    position: relative;
    display: block;
    border-radius: 50%;
    flex: 100px 0 0 ;
    max-width: 100px;
    img {
      border-radius: 50%;
    }
  }
}
.comment-form {
  .comment-form__title {
    margin-top: -7px;
  }
  .form-control{
    &::placeholder{
      color: var(--text-color);
    }
  }
}
