/*** 

====================================================================
   about- Section h3
====================================================================

***/
.about-section-h3 {
  padding: 0 0 120px;
  position: relative;
  background-color: #E3E8EF;
}
.about-section-h3 .image-column .inner-column {
  position: relative;
  margin-right: 82px;
}
.about-section-h3 .image-column .images-box {
  margin-bottom: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 24px;
  margin-bottom: 17px;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
}
.about-section-h3 .image-column .images-box .image {
  max-height: 281px;
  overflow: hidden;
}
.about-section-h3 .image-column .images-box .image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.about-section-h3 .image-column .image-1 {
  padding-left: 83px;
}
.about-section-h3 .image-column .icon {
  position: absolute;
  top: calc(50% - 82px);
  left: calc(50% - 82px);
  width: 164px;
  height: 164px;
}
.about-section-h3 .image-column .icon img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.about-section-h3 .content-column .inner-column {
  padding-top: 30px;
}
.about-section-h3 .content-column .inner-column .se-title .sub-title {
  font-size: 18px;
  font-family: var(--body-font-family);
  font-weight: 500;
  line-height: 28px;
  color: var(--text-color-theme-color2);
  position: relative;
  display: inline-block;
  margin-bottom: 9px;
}
.about-section-h3 .content-column .inner-column .se-title .sub-title:before {
  position: absolute;
  content: "";
  background-color: var(--text-color-theme-color2);
  width: 50px;
  height: 1px;
  right: -62px;
  top: 50%;
}
.about-section-h3 .content-column .inner-column .se-title .title {
  margin-bottom: 40px;
}
.about-section-h3 .content-column .inner-column .tabs-box .tab-buttons {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 83px;
  padding-bottom: 8px;
  border-bottom: 1px solid #D2D2D2;
  margin-bottom: 28px;
}
.about-section-h3 .content-column .inner-column .tabs-box .tab-buttons .tab-btn {
  background-color: transparent;
  font-size: 16px;
  font-weight: 400;
  line-height: 1;
  color: var(--text-color);
}
.about-section-h3 .content-column .inner-column .tabs-box .tab-buttons .tab-btn.active-btn {
  color: var(--text-color-theme-color2);
  position: relative;
}
.about-section-h3 .content-column .inner-column .tabs-box .tab-buttons .tab-btn.active-btn:before {
  position: absolute;
  content: "";
  background-color: var(--text-color-theme-color2);
  width: 120px;
  height: 1px;
  left: 0;
  bottom: -9px;
}
.about-section-h3 .content-column .inner-column .content .text {
  margin-bottom: 33px;
  max-width: 497px;
}
.about-section-h3 .content-column .inner-column .content .info-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 85px;
  margin-bottom: 36px;
}
.about-section-h3 .content-column .inner-column .content .info-box .list-style-two li {
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  color: var(--text-color-theme-color2);
  margin-bottom: 7px;
  font-family: var(--heading-font-family);
  padding-left: 0;
}

@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
/*** 

====================================================================
   about- Section h4
====================================================================

***/
.about-section-h4 .about-image-1 {
  max-width: 497px;
  position: relative;
  -webkit-mask: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 497 459"><path fill-rule="evenodd" clip-rule="evenodd" d="M245.82 459C180.626 459 118.099 434.821 71.998 391.781C25.8994 348.742 0 290.367 0 229.5C9.13155e-07 168.633 25.8993 110.258 72 67.2197C118.099 24.1797 180.626 0 245.82 0V459ZM497 459C431.805 459 369.278 434.821 323.178 391.781C277.079 348.742 251.18 290.367 251.18 229.5C251.18 168.633 277.079 110.258 323.18 67.2197C369.278 24.1797 431.805 3.36022e-06 497 0V459Z" /></svg>');
          mask: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 497 459"><path fill-rule="evenodd" clip-rule="evenodd" d="M245.82 459C180.626 459 118.099 434.821 71.998 391.781C25.8994 348.742 0 290.367 0 229.5C9.13155e-07 168.633 25.8993 110.258 72 67.2197C118.099 24.1797 180.626 0 245.82 0V459ZM497 459C431.805 459 369.278 434.821 323.178 391.781C277.079 348.742 251.18 290.367 251.18 229.5C251.18 168.633 277.079 110.258 323.18 67.2197C369.278 24.1797 431.805 3.36022e-06 497 0V459Z" /></svg>');
  -webkit-mask-repeat: no-repeat;
          mask-repeat: no-repeat;
  -webkit-mask-position: center center;
          mask-position: center center;
  -webkit-mask-size: cover;
          mask-size: cover;
}
.about-section-h4 .about-content-1 {
  margin-left: 90px;
}
@media (max-width: 1399px) {
  .about-section-h4 .about-content-1 {
    margin-left: 30px;
  }
}
@media (max-width: 1199px) {
  .about-section-h4 .about-content-1 {
    margin-left: 0;
  }
}
.about-section-h4 .about-content-1 .title {
  font-size: 36px;
  max-width: 495px;
}
.about-section-h4 .about-content-1 .about-text {
  max-width: 515px;
  line-height: 212%;
  margin-top: 30px;
  margin-bottom: 18px;
}
.about-section-h4 .about-content-1 .about-info span {
  font-size: 14px;
  font-weight: 500;
  color: var(--headings-color);
  text-transform: uppercase;
  display: inline-block;
}