:root {
  --r: 30px; /* radius */
  --s: 50px; /* size of the inner curve*/
  --_m:/calc(2*var(--r)) calc(2*var(--r)) radial-gradient(#000 70%,#0000 72%) no-repeat;
  --theme-color1: #ff3838;
  --theme-color2: #222222;
  --theme-color3: #13132E;
  --theme-color1-rgb: 255, 56, 56;
  --theme-color2-rgb: 34, 34, 34;
  --theme-color1-text-color: #ffffff;
  --theme-color2-text-color: #ffffff;
  --theme-color-white: #ffffff;
  --theme-color-white-rgb: 255,255,255;
  --theme-color-lighter: #F6F5EF;
  --theme-color-lighter2: #FCFCFC;
  --theme-color-silver: #9393A9;
  --review-color: #FFAA18;
  --theme-color-black: #000000;
  --theme-color-black-rgb: 0, 0, 0;
  --theme-color-dark: #333;
  --theme-color-dark2: #130D1A;
  --theme-color-dark3: #171717;
  --theme-color-gray: #222222;
  --body-bg: #F9F3EB;
  --text-color: #6d6c74;
  --text-color2: #CCCCCC;
  --headings-color: #000000;
  --link-color: var(--theme-color1);
  --link-hover-color: var(--theme-color1);
}