//Root 
@function hexToRGB($hex) {
  @return red($hex), green($hex), blue($hex);
}
@property --gradient-angle {
  syntax: "<angle>";
  initial-value: 90deg;
  inherits: false;
}
.home3-bgcolor{
  background-color: #F9F3EB;
}
//main theme colors
$theme-color1: #ff3838;
$theme-color2: #222222;

:root {
  --r: 30px; /* radius */
  --s: 50px; /* size of the inner curve*/
  --_m:/calc(2*var(--r)) calc(2*var(--r)) radial-gradient(#000 70%,#0000 72%) no-repeat;
  
  //theme color
  --theme-color1: #{$theme-color1};
  --theme-color2: #{$theme-color2};

  //rgb version of those theme colors
  --theme-color1-rgb: #{hexToRGB($theme-color1)};
  --theme-color2-rgb: #{hexToRGB($theme-color2)};

  --theme-color1-text-color: #ffffff;
  --theme-color2-text-color: #ffffff;


  --theme-color-white: #ffffff;
  --theme-color-white-rgb: 255,255,255;
  --theme-color-lighter: #F8F5F0;
  --theme-color-lighter2: #FCFCFC;
  --theme-color-silver: #F5F5F5;
  --review-color: #FFAA18;

  --theme-color-black: #000000;
  --theme-color-black-rgb: 0, 0, 0;
  --theme-color-dark:  #333;
  --theme-color-gray:  #222222;



  //Gradients
  --gradient-1: linear-gradient(181.35deg, rgba(5, 15, 19, 0) 1.15%, rgba(2, 223, 130, 0.1) 98.91%);
  

    
  //text heading color
  --text-color:         #6d6c74;
  --text-color2:         #CCCCCC;
  --headings-color:     #24201F;
  --link-color:         var(--theme-color1);
  --link-hover-color:   var(--theme-color1);


  //font family  
  --body-font-family: "Mulish", sans-serif;
  --heading-font-family: "Kumbh Sans", sans-serif;
  --style-font-family: "Rubik", sans-serif;
  
  //body
  --body-bg:          #ffffff;
  --body-font-size:   16px;
  --body-line-height: 1.875;
  --body-font-weight: 400;

  //heading font size + weight
  --line-height-heading-h1: 1.2625em;
  --line-height-heading-h2: 1.2em;
  --line-height-heading: 1.333em;
  --line-height-heading-small: 1.5em;

  --h1-font-size: 110px;
  --h2-font-size: 50px;
  --h3-font-size: 30px;
  --h4-font-size: 24px;
  --h5-font-size: 20px;
  --h6-font-size: 16px;

  --h1-font-weight: 500;
  --h2-font-weight: 500;
  --h3-font-weight: 500;
  --h4-font-weight: 500;
  --h5-font-weight: 500;
  --h6-font-weight: 400;

  //section sub title
  --sec-title-subtitle-color: var(--theme-color-white);
  --sec-title-subtitle-font-size: 14px;
  --sec-title-subtitle-font-family: var(--heading-font-family);
  --sec-title-subtitle-font-weight: 700;
  --sec-title-subtitle-line-height: 24px;  

  //section title
  --sec-title-color:                 var(--theme-color-white);
  --sec-title-font-size:             var(--h2-font-size);
  --sec-title-font-family:           var(--heading-font-family);
  --sec-title-font-weight:           400;
  --sec-title-title-line-height:     var(--line-height-heading-h2);

  //news details page
  --theme-light-background: #F7F7F7;
  --theme-light-background-text-color: var(--headings-color);
  --theme-black:        #000000;

  //container
  --container-width: 1350px;
  --small-container-width: 1000px;
  --large-container-width: 1760px;
}


