

.ks-hero {
    &-area {
        @include background;
    }
    &-title {
        font-weight: 700;
        font-size: 228px;
        text-transform: uppercase;
        color: var(--theme-color-white);
    }
    &-gradiant-title {
        position: absolute;
        top: 0;
        left: 10px;
        z-index: -1;
        font-weight: 700;
        font-size: 228px;
        text-transform: uppercase;
        background: linear-gradient(270deg, #fff826 0%, #0938d3 100%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    &-text {
        padding-top: 53px;
        margin-right: 81px;
        border-top: 2px solid var(--theme-color-white);
        & p {
            font-weight: 800;
            font-size: 40px;
            line-height: 1.5;
            font-family: var(--heading-font-family);
            text-transform: uppercase;
            color: var(--theme-color-white);
        }
    }
    &-arrow {
        position: relative;
        display: inline-block;
        & span {
            height: 122px;
            width: 122px;
            line-height: 120px;
            border-radius: 50%;
            display: inline-block;
            text-align: center;
            background-color: var(--theme-color-dark);
        }
        & .text {
            position: absolute;
            top: 50%;
            left: 0;
            right: 0;
            text-align: center;
            margin: 0 auto;
            transform: translateY(-50%);
            & img {
                animation: animationglob 6s cubic-bezier(1, 0.99, 0.03, 0.01) infinite;
            }
        }
    }
    &-contact {
        & a {
            font-weight: 700;
            font-size: 16px;
            text-transform: lowercase;
            color: var(--theme-color1);
            &:first-child {
                &::after {
                    content: '';
                    display: inline-block;
                    height: 16px;
                    width: 1px;
                    margin-left: 25px;
                    margin-right: 22px;
                    border-right: 1px solid var(--gray-color3);
                }
            }
            &:hover {
                text-decoration: underline;
            }
        }
    }
    &-social {
        & a {
            width: 30px;
            height: 30px;
            line-height: 26px;
            border-radius: 50%;
            display: inline-block;
            text-align: center;
            position: relative;
            color: var(--theme-color-white);
            background-color: var(--theme-color1);
            &::after {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                width: 100%;
                border-radius: 50%;
                transform: scale(0);
                transition: all 0.3s ease;
                background-color: var(--theme-color-dark);
            }
            &:not(:last-child){
                margin-right: 6px;
            }
            &:hover {
                &::after {
                    transform: scale(1);
                }
            }
            & svg {
                height: 14px;
                width: 12px;
                position: relative;
                z-index: 1;
            }
        }
    }
    &-shape {
        &-1 {
            position: absolute;
            top: 13%;
            right: 9.6%;
            z-index: 2;
        }
        &-2 {
            position: absolute;
            top: 0;
            left: -1%;
            z-index: -1;
        }
        &-3 {
            position: absolute;
            top: 42%;
            left: 46.5%;
            z-index: -1;
        }
    }
}