/*
 * shop-catalog-layouts.scss
 * -----------------------------------------------
*/

table.tbl-shopping-cart, table.cart-total {
	.product-thumbnail {
		min-width: 64px;
	}

	img {
		width: 64px;
		box-shadow: none;
	}

	th,
	td {
		vertical-align: middle;
		border-left: 1px solid #e3e3e3;
		padding: 20px 30px;
	}
	.product-name {
		a {
			color: var(--headings-color);
		}
		.variation {
			font-size: 0.9rem;
			list-style: none;
		}
	}

	.product-remove a {
		background-color: #757575;
		border-radius: 24px;
		color: #ffffff;
		display: inline-block;
		height: 24px;
		line-height: 24px;
		text-align: center;
		transition: all 300ms ease-out;
		width: 24px;
	}
	.coupon-form {
		.apply-button {
			background: #f4f5f4;
			color: #1e2434;
			cursor: pointer;
			display: inline-block;
			padding: 15px 29px;
			position: relative;
			text-transform: uppercase;
			transition: all 500ms ease;
			&:hover {
				background-color: var(--theme-color-yellow);
				color: var(--theme-color-dark);
			}
		}
	}
}
table.tbl-shopping-cart > thead > tr > th,
table.tbl-shopping-cart > tbody > tr > th,
table.tbl-shopping-cart > tfoot > tr > th	{
	color: #444;
}